GettingStarted.json
{
  "name": "GettingStarted",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2688,
        1248
      ],
      "id": "d1e22d83-b93f-41d8-b655-ead7701c6656",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "KB-System",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2464,
        1248
      ],
      "id": "8f07a74e-bf1d-4b41-b993-0dc87fe65bd9",
      "name": "Create KB-System Folder",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Manager",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        1920
      ],
      "id": "8b93fba8-da6d-4f2c-a514-d9ea7c83aea5",
      "name": "Create Manager Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "2904e02d-b6b8-4757-a07d-b74ec1cda533",
      "name": "Move Manager Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Input",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        2016
      ],
      "id": "4f9b2d73-50d4-4604-a9cd-87931b28e0a0",
      "name": "Create Input Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ],
      "id": "d009f691-0bf2-40cc-9002-f775342028a1",
      "name": "Set Header (Input)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Input Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Input Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        192
      ],
      "id": "fb262647-b4f0-4356-850a-0387de97a861",
      "name": "Append Input",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Error",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        2112
      ],
      "id": "fe2e41f7-3271-4afe-b10a-de2048f34f04",
      "name": "Create Error Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "114cb87a-82df-495c-b039-858dbe46e94d",
              "name": "Error",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        384
      ],
      "id": "0ce0cff7-2b41-45b1-8e4c-a37509d10f21",
      "name": "Set Header (Error)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Error Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Error Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        384
      ],
      "id": "fb1985e1-807d-4bdb-bdfe-5e8393137628",
      "name": "Append Error",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Processed",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        2208
      ],
      "id": "cb045ddf-2fff-457a-8610-caf7122fdc2e",
      "name": "Create Processed Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        576
      ],
      "id": "83e60d7c-58c3-4632-81c7-a69623517080",
      "name": "Set Header (Processed)"
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        2304
      ],
      "id": "02601fe1-6b91-4628-81af-b91faeb9c171",
      "name": "Cleanup (Manager)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Processed Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Processed Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        576
      ],
      "id": "c8cbff8d-8321-42dd-ab0e-2403ba3671f7",
      "name": "Append Processed",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Environment ",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2240,
        1248
      ],
      "id": "413832d3-32fc-473c-9114-ac5894867b52",
      "name": "Create Environment Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2016,
        1152
      ],
      "id": "f215013b-fe66-4a46-8e57-7510857d88ee",
      "name": "Move Environment Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Name",
              "value": "",
              "type": "string"
            },
            {
              "id": "4b2dcea3-6960-4012-8e04-9118eaad1d85",
              "name": "ID",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        1248
      ],
      "id": "b009c674-9576-4993-bbe0-240d8603c74a",
      "name": "Set Header (Enviornment)"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Variables",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2016,
        1344
      ],
      "id": "b38cd56d-cac3-4dde-98e3-cacfc8a2d84b",
      "name": "Create Variables Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1792,
        1440
      ],
      "id": "fd672c37-96be-43a9-8f71-49b63799001b",
      "name": "Cleanup (Enviornment)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1568,
        1248
      ],
      "id": "67fd5bae-cb3d-4ec1-99e1-dd07f2de954e",
      "name": "Append Variables",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "manager_sheet_input",
            "ID": "={{ $('Create Input Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        192
      ],
      "id": "ee5d403a-2627-4566-82ba-8aeee1a371fd",
      "name": "Update Variables (Input)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "manager_doc",
            "ID": "={{ $('Create Manager Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "e638e258-c52a-4f53-a8ca-40a3acb3e443",
      "name": "Update Variables (Manager)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "manager_sheet_error",
            "ID": "={{ $('Create Error Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        384
      ],
      "id": "b2576d39-23af-41fa-8306-cbbd7cf8d8f7",
      "name": "Update Variables (Error)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "manager_sheet_processed",
            "ID": "={{ $('Create Processed Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        576
      ],
      "id": "54e75083-bca3-41ae-9fb9-ec577579a89e",
      "name": "Update Variables (Processed)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Crawl",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        2304
      ],
      "id": "30601d12-2434-4112-891f-1c6b9f487a63",
      "name": "Create Crawl Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        768
      ],
      "id": "75f934be-b5e6-4495-94fc-0376aa2c2136",
      "name": "Move Crawl Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "crawl_doc",
            "ID": "={{ $('Create Crawl Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        768
      ],
      "id": "07f15d49-9095-4bc1-99cb-84e1fa75245f",
      "name": "Update Variables (Crawl)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Output",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        2400
      ],
      "id": "00d0b767-cbf2-47aa-a430-a2972148cf02",
      "name": "Create Crawl-Output Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        960
      ],
      "id": "3fe628c6-fc92-4f16-9b29-d8cab2a6306f",
      "name": "Set Header (Crawl-Output)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Crawl-Output Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Crawl-Output Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        960
      ],
      "id": "1f3b7e5d-1609-4bff-804b-865ebbd0bdba",
      "name": "Append Crawl-Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "crawl_sheet_output",
            "ID": "={{ $('Create Crawl-Output Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        960
      ],
      "id": "df6b2733-7b27-430a-b6de-9e13ff7b29b3",
      "name": "Update Variables (Crawl-Output)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        2496
      ],
      "id": "c4dc223e-824e-45c2-9958-324686270d35",
      "name": "Cleanup (Crawl)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Scrape",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        2496
      ],
      "id": "118276d5-5ec8-45a6-88d5-7a86834cc359",
      "name": "Create Scrape Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        1152
      ],
      "id": "ff711f43-d710-4bee-b3b1-e8f60e282f66",
      "name": "Move Scrape Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "scrape_doc",
            "ID": "={{ $('Create Scrape Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        1152
      ],
      "id": "6c40fd4d-7c32-43cd-a7b6-078ea032ab05",
      "name": "Update Variables (Scrape)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Output",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        2592
      ],
      "id": "93f5bc26-f255-49ac-a69a-273f662b864a",
      "name": "Create Scrape-Output Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        1344
      ],
      "id": "24f3c339-183c-41cf-98ac-d224888b174b",
      "name": "Set Header (Scrape-Output)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Scrape-Output Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Scrape-Output Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        1344
      ],
      "id": "9985ce95-806e-4034-bfeb-da24f5d3ea9d",
      "name": "Append Scrape-Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "scrape_sheet_output",
            "ID": "={{ $('Create Scrape-Output Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        1344
      ],
      "id": "d6705760-021a-4d04-8d72-d470c33cae4b",
      "name": "Update Variables (Scrape-Output)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        2688
      ],
      "id": "08b7b27c-c5ff-4d95-aa6a-e9667275c9c4",
      "name": "Cleanup (Scrape)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Documents",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        2688
      ],
      "id": "1674eab2-d2dc-409a-847e-32cfb110fc9f",
      "name": "Create Documents Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2464,
        1536
      ],
      "id": "11b6475c-4e5d-4e98-845e-8fb625565107",
      "name": "Move Documents Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "documents_doc",
            "ID": "={{ $('Create Documents Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        1536
      ],
      "id": "2293aaaf-d66e-44bb-aba7-1aa11fec922b",
      "name": "Update Variables (Documents)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Unformatted-HTML",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        2784
      ],
      "id": "5f239f6f-057b-408b-a4c2-5c32b8fa3eb4",
      "name": "Create Unformatted-HTML Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        1728
      ],
      "id": "92ff2eb7-8b80-482f-8816-79a308478fcb",
      "name": "Set Header (Unformatted-HTML)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Unformatted-HTML Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Unformatted-HTML Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        1728
      ],
      "id": "9740af29-b3bf-4807-bdb2-4b81a347d64f",
      "name": "Append Unformatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "documents_sheet_unformatted_html",
            "ID": "={{ $('Create Unformatted-HTML Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        1728
      ],
      "id": "329c6530-df97-4a96-af73-aef1005a37cd",
      "name": "Update Variables (Unformatted-HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Formatted-HTML",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        2880
      ],
      "id": "0cbdd9cb-e6fb-4812-99d6-63811435f009",
      "name": "Create Formatted-HTML Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        1920
      ],
      "id": "8bcc39cc-66dc-4ba1-942e-344921c2250d",
      "name": "Set Header (Formatted-HTML)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Formatted-HTML Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Formatted-HTML Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        1920
      ],
      "id": "b195ada8-fa5f-4559-b371-11fc271ee29f",
      "name": "Append Formatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "documents_sheet_formatted_html",
            "ID": "={{ $('Create Formatted-HTML Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3360,
        1920
      ],
      "id": "ad0e3178-9427-46eb-910c-7c256a73d793",
      "name": "Update Variables (Formatted-HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Unformatted-PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        2976
      ],
      "id": "c1498728-e3c3-4470-8f62-b4afdc0d67eb",
      "name": "Create Unformatted-PDF Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        2112
      ],
      "id": "bda31607-4a0e-475c-bb86-69584b205d32",
      "name": "Set Header (Unformatted-PDF)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Unformatted-PDF Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Unformatted-PDF Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3360,
        2112
      ],
      "id": "46539229-a651-45c3-b9d7-bcdad3cf8297",
      "name": "Append Unformatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "documents_sheet_unformatted_pdf",
            "ID": "={{ $('Create Unformatted-PDF Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        2112
      ],
      "id": "f3aa6ca4-06f9-4dac-94f7-ce5d170dfb9f",
      "name": "Update Variables (Unformatted-PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Formatted-PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3136,
        3072
      ],
      "id": "0c1cf180-7efa-4397-8565-562cd1cf0ddd",
      "name": "Create Formatted-PDF Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        2304
      ],
      "id": "aee663f3-23a2-444a-9c72-e74c40cbf2b1",
      "name": "Set Header (Formatted-PDF)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Formatted-PDF Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Formatted-PDF Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        2304
      ],
      "id": "72f72616-73b2-4820-8790-d47c6cdff34b",
      "name": "Append Formatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "documents_sheet_formatted_pdf",
            "ID": "={{ $('Create Formatted-PDF Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3808,
        2304
      ],
      "id": "0c3a3473-8efa-4b62-bbc2-1fe57c229653",
      "name": "Update Variables (Formatted-PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3360,
        3168
      ],
      "id": "2216305b-529f-4eaf-ba61-08a12511beba",
      "name": "Cleanup (Documents)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        3168
      ],
      "id": "0ee0297a-e438-497f-949b-dac1414b79f3",
      "name": "Create Upsert Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3808,
        2496
      ],
      "id": "7ab9c809-9f39-4b37-96fe-5e377784bf34",
      "name": "Move Upsert Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "upsert_doc",
            "ID": "={{ $('Create Upsert Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4032,
        2496
      ],
      "id": "8c76ccda-e3ea-472a-bed0-b8a007e4f1d2",
      "name": "Update Variables (Upsert)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        2688
      ],
      "id": "26aa3702-35c4-48af-a0cf-53e3f823d2f0",
      "name": "Set Header (Upsert-Output)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Upsert-Output Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Upsert-Output Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4256,
        2688
      ],
      "id": "d438781b-b065-4676-82f0-0d4db43d3716",
      "name": "Append Upsert-Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Output",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3808,
        3264
      ],
      "id": "5d543485-ef7e-4837-b1e5-af13ba8b17fa",
      "name": "Create Upsert-Output Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "upsert_sheet_output",
            "ID": "={{ $('Create Upsert-Output Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4480,
        2688
      ],
      "id": "4d551b7d-0fe6-4e74-9b8e-f09520f21536",
      "name": "Update Variables (Upsert-Output)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4032,
        3360
      ],
      "id": "6b2a4dc7-d592-4347-8dfe-dbec87ff09d9",
      "name": "Cleanup (Upsert)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Update",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4256,
        3360
      ],
      "id": "bd93ac74-1a2a-4f27-ba36-fd8f77a5d8db",
      "name": "Create Update Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4480,
        2880
      ],
      "id": "10a7d831-21d3-4757-96b2-2069b0191c83",
      "name": "Move Update Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "update_doc",
            "ID": "={{ $('Create Update Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        2880
      ],
      "id": "fb2c61be-c35c-4a02-8fa3-a381592f7e8b",
      "name": "Update Variables (Update)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Same",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4480,
        3456
      ],
      "id": "2310a846-bdde-438c-8ea8-52bed36c806d",
      "name": "Create Update-Same Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "530773ca-301b-47b2-ab89-1163cf92e066",
              "name": "Created Date (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "8318b136-0655-440d-8a56-d1887bdc6fed",
              "name": "Last Modified (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "0d41ce89-89a6-4abf-8cf0-74498c9997af",
              "name": "Etag (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "6c6ff368-21e1-4966-8fba-96c9bb4ea48e",
              "name": "Hash (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4704,
        3072
      ],
      "id": "08f7f86c-a9a0-4da4-b0a7-14fe44a5ec9a",
      "name": "Set Header (Update-Same)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Update-Same Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Update-Same Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4928,
        3072
      ],
      "id": "aee7f4a9-8adc-4009-aa55-73a21544560a",
      "name": "Append Update-Same",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "update_sheet_same",
            "ID": "={{ $('Create Update-Same Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5152,
        3072
      ],
      "id": "4d505893-29ed-481b-9154-1769cb887ed2",
      "name": "Update Variables (Update-Same)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Different",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        3552
      ],
      "id": "c3b4bfce-ef10-4e2c-b3ee-1c5f61dede15",
      "name": "Create Update-Different Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "f0b537f6-ca3c-4bf7-89f4-f1fa31163259",
              "name": "Execution",
              "value": "",
              "type": "string"
            },
            {
              "id": "daefeedd-f1a9-4cdf-a569-12e56fb0e44e",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "077da776-ec6c-4d1a-aa94-579bb0329273",
              "name": "Created Date (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "530773ca-301b-47b2-ab89-1163cf92e066",
              "name": "Created Date (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "a90ae4a5-fe4f-4696-8405-134ce5e2c54b",
              "name": "Last Modified (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "8318b136-0655-440d-8a56-d1887bdc6fed",
              "name": "Last Modified (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "49af4135-ae41-4e3b-bba1-c3ee7f155ebe",
              "name": "Etag (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "0d41ce89-89a6-4abf-8cf0-74498c9997af",
              "name": "Etag (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b0d5b8e-5ca5-43a2-84fd-72267bf0fd2c",
              "name": "Hash (A)",
              "value": "",
              "type": "string"
            },
            {
              "id": "6c6ff368-21e1-4966-8fba-96c9bb4ea48e",
              "name": "Hash (B)",
              "value": "",
              "type": "string"
            },
            {
              "id": "9aeabd34-2e75-47be-a708-7697d1a3d7a1",
              "name": "Filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4928,
        3264
      ],
      "id": "ef8f7187-7577-449a-b418-3e7127f9fa28",
      "name": "Set Header (Update-Different)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Update-Different Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Update-Different Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5152,
        3264
      ],
      "id": "25b1e644-aec5-4e05-8f8d-552a1866e13d",
      "name": "Append Update-Different",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "update_sheet_different",
            "ID": "={{ $('Create Update-Different Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5376,
        3264
      ],
      "id": "6c6584b6-a05c-4e35-998d-61d89e8b688f",
      "name": "Update Variables (Update-Different)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4928,
        3648
      ],
      "id": "145e665f-1aa8-4dca-ac76-6009d9bd6506",
      "name": "Cleanup (Update)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Sitemap",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5152,
        3648
      ],
      "id": "4ba91e62-3e32-4a9f-81c7-60e7204b6f0b",
      "name": "Create Sitemap Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5376,
        3456
      ],
      "id": "2066c48b-b8ae-48a8-9a5b-a409f2359168",
      "name": "Move Sitemap Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "sitemap_doc",
            "ID": "={{ $('Create Sitemap Spreadsheet').item.json.spreadsheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5600,
        3456
      ],
      "id": "5e601a44-a26b-4cf6-960b-77df5da55d88",
      "name": "Update Variables (Sitemap)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Output",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5376,
        3744
      ],
      "id": "1466d5d8-2845-43ab-be62-9a15905b98a9",
      "name": "Create Sitemap-Output Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c47b85e-042d-4326-9b54-eeea83cc9537",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "af09aab7-3b2f-4685-bedf-bc2becfb7b61",
              "name": "Datetime",
              "value": "",
              "type": "string"
            },
            {
              "id": "fc45df4c-6b00-4b4b-9dac-c63695120f5c",
              "name": "Job",
              "value": "",
              "type": "string"
            },
            {
              "id": "d207d90e-3318-4ad6-bf22-eede2f97f8ad",
              "name": "Execution",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5600,
        3648
      ],
      "id": "284a8ee5-6b6f-4d75-8a92-45f2314f3bb1",
      "name": "Set Header (Sitemap-Output)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Sitemap-Output Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Sitemap-Output Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5824,
        3648
      ],
      "id": "6201b929-ba59-4f82-9fa5-8d9c827123fb",
      "name": "Append Sitemap-Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "sitemap_sheet_output",
            "ID": "={{ $('Create Sitemap-Output Sheet').item.json.sheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6048,
        3648
      ],
      "id": "2a4942df-4125-42c0-a127-815b5e913487",
      "name": "Update Variables (Sitemap-Output)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5600,
        3840
      ],
      "id": "c002d142-adb4-491c-8e49-8e181ea48795",
      "name": "Cleanup (Sitemap)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Unformatted-HTML",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Documents Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1344,
        1440
      ],
      "id": "0a55da81-9d3d-4270-9395-18adf8eda0e6",
      "name": "Create folder Unformatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Formatted-HTML",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Documents Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        1536
      ],
      "id": "edf093bb-673f-44ce-bb51-0f536fd6630c",
      "name": "Create folder Formatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Unformatted-PDF",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Documents Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        1632
      ],
      "id": "70c2cc83-4882-4708-9af9-22caaa8c9153",
      "name": "Create folder Unformatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Formatted-PDF",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Documents Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        1728
      ],
      "id": "2793eb6e-288e-47ec-8e59-655600750bfa",
      "name": "Create folder Formatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Documents",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        1440
      ],
      "id": "e761660e-71d0-4768-8409-d3739ac384bf",
      "name": "Create Documents Folder",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_unformatted_html",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        1344
      ],
      "id": "698f4b27-7604-4f26-ac13-878979141e0f",
      "name": "Update Variables (Folder-Unformatted-HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Archive",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create KB-System Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        1824
      ],
      "id": "9263c5d7-7781-4f4e-8c12-d6a05b2fb6f8",
      "name": "Create Archive Folder",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_formatted_html",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        1440
      ],
      "id": "c6322478-9fab-4729-af8f-574cb01933fc",
      "name": "Update Variables (Folder-Formatted-HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_unformatted_pdf",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        1536
      ],
      "id": "bbe4d788-6cf2-4194-8325-1a71cadcb473",
      "name": "Update Variables (Folder-Unformatted-PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_formatted_pdf",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        1632
      ],
      "id": "b55ad481-5b44-4280-b531-0592d6cad0f3",
      "name": "Update Variables (Folder-Formatted-PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_archive",
            "ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        1728
      ],
      "id": "ebd44d12-6b03-4844-a6a9-820dfa4a4df9",
      "name": "Update Variables (Folder-Archive)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Variables Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "folder_kb_system",
            "ID": "={{ $('Create KB-System Folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1344,
        1248
      ],
      "id": "21e22821-52d6-4ffb-9dd3-bced9f511307",
      "name": "Update Variables (Folder-KB-System)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create KB-System Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create KB-System Folder": {
      "main": [
        [
          {
            "node": "Create Environment Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Manager Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Input Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Manager Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Input Sheet": {
      "main": [
        [
          {
            "node": "Create Error Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Header (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Input)": {
      "main": [
        [
          {
            "node": "Append Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Error Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Processed Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Error)": {
      "main": [
        [
          {
            "node": "Append Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Processed Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Processed)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Manager)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Processed)": {
      "main": [
        [
          {
            "node": "Append Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Environment Spreadsheet": {
      "main": [
        [
          {
            "node": "Move Environment Spreadsheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Variables Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Manager Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Manager)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Variables Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Enviornment)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Enviornment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Enviornment)": {
      "main": [
        [
          {
            "node": "Append Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Input": {
      "main": [
        [
          {
            "node": "Update Variables (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Enviornment)": {
      "main": [
        [
          {
            "node": "Create Documents Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error": {
      "main": [
        [
          {
            "node": "Update Variables (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Processed": {
      "main": [
        [
          {
            "node": "Update Variables (Processed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Manager)": {
      "main": [
        [
          {
            "node": "Create Crawl Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Crawl Spreadsheet": {
      "main": [
        [
          {
            "node": "Move Crawl Spreadsheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Crawl-Output Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Crawl Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Crawl-Output Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Crawl-Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Crawl-Output)": {
      "main": [
        [
          {
            "node": "Append Crawl-Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Crawl-Output": {
      "main": [
        [
          {
            "node": "Update Variables (Crawl-Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Crawl)": {
      "main": [
        [
          {
            "node": "Create Scrape Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrape Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Scrape-Output Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Scrape Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Scrape Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Scrape)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrape-Output Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Scrape-Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Scrape)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Scrape-Output)": {
      "main": [
        [
          {
            "node": "Append Scrape-Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Scrape-Output": {
      "main": [
        [
          {
            "node": "Update Variables (Scrape-Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Scrape)": {
      "main": [
        [
          {
            "node": "Create Documents Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Documents Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Unformatted-HTML Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Documents Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Documents Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Documents)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unformatted-HTML Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Unformatted-HTML)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Formatted-HTML Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Unformatted-HTML)": {
      "main": [
        [
          {
            "node": "Append Unformatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Unformatted-HTML": {
      "main": [
        [
          {
            "node": "Update Variables (Unformatted-HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Formatted-HTML Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Formatted-HTML)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Unformatted-PDF Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Formatted-HTML)": {
      "main": [
        [
          {
            "node": "Append Formatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Formatted-HTML": {
      "main": [
        [
          {
            "node": "Update Variables (Formatted-HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unformatted-PDF Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Unformatted-PDF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Formatted-PDF Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Unformatted-PDF)": {
      "main": [
        [
          {
            "node": "Append Unformatted-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Unformatted-PDF": {
      "main": [
        [
          {
            "node": "Update Variables (Unformatted-PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Formatted-PDF Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Formatted-PDF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Documents)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Formatted-PDF)": {
      "main": [
        [
          {
            "node": "Append Formatted-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Formatted-PDF": {
      "main": [
        [
          {
            "node": "Update Variables (Formatted-PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Documents)": {
      "main": [
        [
          {
            "node": "Create Upsert Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Upsert Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Upsert-Output Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Upsert Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Upsert Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Upsert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Upsert-Output)": {
      "main": [
        [
          {
            "node": "Append Upsert-Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Upsert-Output": {
      "main": [
        [
          {
            "node": "Update Variables (Upsert-Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Upsert-Output Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Upsert-Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Upsert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Upsert)": {
      "main": [
        [
          {
            "node": "Create Update Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Update Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Update-Same Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Update Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Update Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Update-Same Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Update-Same)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Update-Different Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Update-Same)": {
      "main": [
        [
          {
            "node": "Append Update-Same",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Update-Same": {
      "main": [
        [
          {
            "node": "Update Variables (Update-Same)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Update-Different Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Update-Different)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Update-Different)": {
      "main": [
        [
          {
            "node": "Append Update-Different",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Update-Different": {
      "main": [
        [
          {
            "node": "Update Variables (Update-Different)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup (Update)": {
      "main": [
        [
          {
            "node": "Create Sitemap Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sitemap Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Sitemap-Output Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Sitemap Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Sitemap Spreadsheet": {
      "main": [
        [
          {
            "node": "Update Variables (Sitemap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sitemap-Output Sheet": {
      "main": [
        [
          {
            "node": "Set Header (Sitemap-Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup (Sitemap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header (Sitemap-Output)": {
      "main": [
        [
          {
            "node": "Append Sitemap-Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Sitemap-Output": {
      "main": [
        [
          {
            "node": "Update Variables (Sitemap-Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder Unformatted-HTML": {
      "main": [
        [
          {
            "node": "Create folder Formatted-HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables (Folder-Unformatted-HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder Formatted-HTML": {
      "main": [
        [
          {
            "node": "Create folder Unformatted-PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables (Folder-Formatted-HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder Unformatted-PDF": {
      "main": [
        [
          {
            "node": "Create folder Formatted-PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables (Folder-Unformatted-PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Documents Folder": {
      "main": [
        [
          {
            "node": "Create folder Unformatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder Formatted-PDF": {
      "main": [
        [
          {
            "node": "Create Archive Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Variables (Folder-Formatted-PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Archive Folder": {
      "main": [
        [
          {
            "node": "Update Variables (Folder-Archive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Manager Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Variables": {
      "main": [
        [
          {
            "node": "Update Variables (Folder-KB-System)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ecd45b8-f84a-4932-9592-341e13d035d4",
  "meta": {
    "instanceId": "7ced82f3dd62dad32cd39eb1289b45acdf2f6f463c9cc2cacaca667f3bd5cac2"
  },
  "id": "4uJqUh09lgKVG5x5cj92o",
  "tags": []
}
