Workflows/Agent (Gemini Flash).json
{
  "name": "Agent (Gemini Flash)",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        0
      ],
      "id": "b0addb22-86a9-49a4-903e-6242f9825d88",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const matches = $input.first().json.matches || [];\n\n// Format KB context without filenames\nconst formattedResults = matches.map((match, index) => {\n  return `[Result ${index + 1}]\\n${match.metadata.chunk_text}\\nSource: ${match.metadata.source}\\n`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    kb_context: formattedResults\n  }\n}];"
      },
      "id": "27de6e9d-b80a-498d-ac7a-1de6cb9a447c",
      "name": "Format KB Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        48
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        208
      ],
      "id": "af2b9e3e-a033-47d4-8fb9-cb379d09ca69",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "13e249e3-f7ac-4f5b-bd36-6937daf48696",
      "name": "Call 'QueryKB'"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nSet QueryKB Workflow to be Executed",
        "height": 208,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        48
      ],
      "id": "70656b2d-37ba-4687-b19d-422d8926ab06",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\nGoogle Gemini(PaLM) Api account",
        "height": 192,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "02a62e93-44e5-47c6-8594-0944aba0cc31",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agent - Google Gemini Flash\n\nThis Agent uses Gemini Flash to provide enhanced reasoning and deeper contextual understanding while maintaining fast performance.\n\nIt follows a Retrieval-Augmented Generation (RAG) architecture:\n1. The user’s question is embedded and sent to the Knowledge Base (Pinecone).\n2. The top matching vectors are retrieved using hybrid search.\n3. The retrieved context is injected into the prompt alongside the original query.\n4. Gemini Flash generates a grounded response using retrieved knowledge and stronger multi-step reasoning.\n\nResponses include cited source URLs from the Knowledge Base, enabling traceability and verification of answers.\nCompared to Lite models, Flash offers improved reasoning depth and more structured handling of complex questions.\n\nOnce configured you can:\n- Ask questions directly within the n8n chat interface\n- Or configure Basic Authentication and publish the chat for use outside the n8n console",
        "height": 368,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -416
      ],
      "id": "4fb693d5-0ac1-47be-86cb-c63c9a97bbb3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "a2bde46e-bf36-44ea-97f0-06a960668066",
      "name": "Gemini Flash Latest"
    },
    {
      "parameters": {
        "jsCode": "const field = 'output'; // change if your chat response field is different\nlet text = items[0].json[field] ?? '';\n\n// If upstream ever produced literal \"\\n\", normalize it to real newlines\ntext = text.replace(/\\\\n/g, '\\n');\n\nconst sourcesMatch = text.match(/Sources:\\s*([\\s\\S]*)$/i);\nif (!sourcesMatch) {\n  return [{ json: items[0].json }];\n}\n\n// Grab URLs from the Sources section\nconst sourcesSection = sourcesMatch[1];\nlet urls = (sourcesSection.match(/https?:\\/\\/[^\\s,]+/g) || []).map(u => u.trim());\n\n// Remove duplicates\nurls = [...new Set(urls)];\n\n// Build Markdown list (renders correctly in n8n published chat)\nconst rebuiltSources =\n  'Sources:\\n' + urls.map(u => `- ${u}`).join('\\n');\n\n// Replace everything from \"Sources:\" to end with rebuilt block\nconst formatted = text.replace(/Sources:\\s*[\\s\\S]*$/i, rebuiltSources);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    [field]: formatted,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        0
      ],
      "id": "79ac869c-58f9-4c14-b50e-87506f4fa9b1",
      "name": "Format Source List",
      "disabled": true
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        1456,
        0
      ],
      "id": "476754e8-7ee7-4b69-a4d8-a4b382c6d947",
      "name": "Chat",
      "webhookId": "e44e83c4-4667-48a9-a778-3c21d7b5e382"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Question: {{ $json.chatInput }}\n\n---KNOWLEDGE BASE INFORMATION---\n{{ $json.kb_context || \"No knowledge base results available.\" }}\n---END KNOWLEDGE BASE INFORMATION---",
        "options": {
          "systemMessage": "=Today is: {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n\nYou are an AI assistant that answers user questions using the knowledge base data provided within the context of the prompt. You must follow all rules below exactly and at all times.\n\nWORKFLOW RULES:\n\nUse the information provided in the input context/data to fully and accurately answer the user’s question.\n\nBase your answer solely on the provided context/data.\n\nEvery answer must include a “Sources” section listing only URLs derived from the provided context.\n\nSOURCE & METADATA RULES:\n\nThe Sources section may contain URLs only. Do not reveal filenames, file paths, document IDs, internal identifiers, or any internal metadata.\n\nIf retrieved text contains such metadata, remove or redact it before answering.\n\nNever reveal or refer to internal storage details.\n\nEnsure the 'Sources' section contains only unique URLs, deduplicating any repeated references.\n\nTONE & CONVERSATION RULES:\n\nAlways be polite, neutral, calm, and supportive.\n\nNever point out repetition.\n\nNever say “as I said earlier,” “as mentioned before,” “I already provided that,” or anything similar.\n\nNever imply the user forgot something or should already know something.\n\nIf the user asks the same question again, answer again fully, kindly, and professionally.\n\nYou may repeat or rephrase information but must never mention that you are repeating it.\n\nSUMMARY OF REQUIRED SEQUENCE:\nUse provided context/data → Fully answer → Provide URL-only Sources.\n\nAlways follow these rules exactly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        0
      ],
      "id": "cc5546a0-5d65-4ab0-919a-83077e7d4985",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Hi there! 👋 How can I assist you today?",
        "options": {
          "subtitle": "Model: Gemini Flash. The standard, balanced model. Its dynamic reasoning is ON by default for complex tasks, offering the best mix of intelligence, speed, and cost.",
          "title": "Knowledge Base System",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        -16
      ],
      "id": "1fb52727-0d39-412d-865a-c92f47f790c5",
      "name": "When chat message received",
      "webhookId": "abb9e2dc-64a3-4778-9872-6adc305bd6e7"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nOptional node to ensure the list of sources always displays as bulleted list",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        0
      ],
      "id": "0fe52ec6-faac-4391-a874-f650e752b71e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format KB Results": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'QueryKB'": {
      "main": [
        [
          {
            "node": "Format KB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Latest": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Source List": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Source List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Call 'QueryKB'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a6291b90-f403-48f7-80d9-7eafa12d2606",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ced82f3dd62dad32cd39eb1289b45acdf2f6f463c9cc2cacaca667f3bd5cac2"
  },
  "id": "p_jLfBlW2L2ZoAknMeEiw",
  "tags": []
}