Workflows/Sub-Workflows/Crawl-in-One.json
{
  "name": "Crawl-in-One",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/chrome/bql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation GrabTOCAndHTMLWithURL {\n  goto(url: \"{{ $('Set Inputs').item.json.Source }}\", waitUntil: networkIdle) {\n    status\n    url\n  }\n\n  pause: waitForTimeout(time: 1500) {\n    time\n  }\n\n  # Capture the main HTML document response + headers\n  documentResponse: response(type: [document], wait: false) {\n    url\n    status\n    headers {\n      name\n      value\n    }\n  }\n\n  # Capture JavaScript responses + headers\n  scripts: response(type: [script], wait: false) {\n    url\n    headers {\n      name\n      value\n    }\n    body\n  }\n\n  finalUrl: url {\n    url\n  }\n\n  fullHtml: html {\n    html\n  }\n}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "id": "fe41cc8c-642a-4c67-b98e-4a455e405963",
      "name": "Browserless",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "abcda2ed-e94f-44f2-b5b0-5d26bc7ebfd5",
      "name": "Spilt-Out HTML href",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1120,
        336
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=body",
        "extractionValues": {
          "values": [
            {
              "key": "=output",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        896,
        336
      ],
      "id": "31cfe396-2e0f-459d-8bde-484d06b0b56b",
      "name": "Extract HTML href",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "scripts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        528
      ],
      "id": "e93f22ba-92d1-4cbc-a2b9-2089187cd88d",
      "name": "Split-Out Scripts",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cca9a8b7-a815-4f13-908c-79a5c3d99b21",
                    "leftValue": "={{ $json.Source }}",
                    "rightValue": "=^https?:\\/\\/(?!.*\\.(pdf|PDF|Pdf)(\\?|$))[^\\s\\/$.?#].[^\\s]*$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Source }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8c326d29-c843-4ca7-af58-06df08ddfece"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1168,
        176
      ],
      "id": "c77d3e7e-d046-4073-bc2d-b53d12834579",
      "name": "Type Switch"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        288
      ],
      "id": "75f8c54b-95f5-4bcb-bad8-66b18c97c799",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        96
      ],
      "id": "8ad9ccdc-6cb9-4256-a916-698a11938ab7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            },
            {
              "id": "1dc4be92-7c3e-42e8-b63e-0a2412d24aae",
              "leftValue": "={{ $json.output }}",
              "rightValue": "#",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f90ef375-4137-492c-be53-727f14bd81fe",
              "leftValue": "={{ $json.output }}",
              "rightValue": "javascript:void(0);",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e7e7f56-0d1a-4139-849e-716013b49e11",
      "name": "Junk Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1568,
        432
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        432
      ],
      "id": "b9c14f19-60bc-416d-817c-fed881ee7693",
      "name": "Merge HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n *\n * Purpose:\n * - Extract likely human-facing page paths from text (item.json.body)\n * - Filter out assets, APIs, tracking, and plumbing URLs\n * - Output one item per valid page path\n */\n\nconst items = $input.all();\nconst output = [];\n\n/**\n * ===============================\n * REGEX DEFINITIONS\n * ===============================\n */\n\n// Find URL-like strings in text\nconst CANDIDATE_RE =\n  /(?:(?:\"|')((?:https?:\\/\\/|\\/\\/|\\/|\\.{1,2}\\/)[^\"' \\t\\r\\n<>]+)(?:\"|'))|((?:https?:\\/\\/|\\/\\/|\\/|\\.{1,2}\\/)[^\\s\"'<>]+)/g;\n\n// Accept .html / .htm pages\nconst PAGE_EXT = /\\.(?:html?)(?:[?#]|$)/i;\n\n// Reject static assets\nconst STATIC_ASSET_EXT =\n  /\\.(?:js|mjs|cjs|css|map|png|jpe?g|gif|svg|webp|ico|pdf|zip|gz|tar|rar|7z|mp4|mp3|wav|webm|woff2?|ttf|eot)(?:[?#]|$)/i;\n\n// Reject numeric-only paths\nconst NUMERIC_PATH = /^\\/\\d+(?:\\/\\d+)*\\/?$/;\n\n// Reject code-like fragments\nconst CODE_SMELL = /[\\[\\]\\(\\)\\{\\}\\\\\\^\\$|]|\\\\[dDsSwWbBuxpP]/;\n\n// Reject APIs, auth, static dirs, internal routes\nconst HARD_REJECT =\n  /(?:^|\\/)(api|apis|service|services|asmx|svc|wsdl|graphql|rest|rpc|oauth|auth|signin|login|logout|token|session|callback|webhook|debug|health|status|metrics|internal|admin|plugins?|scripts?|assets?|static|cdn|media|img|images|fonts?|css|js|ccm|form-data|upload|download)(?:\\/|$)/i;\n\n// Reject analytics / tracking keywords\nconst TRACKING_KEYWORDS =\n  /(?:^|[\\/?#])(adserver|ads|adservice|adserving|adtrack|adtracking|affiliates?|beacon|banners?|click|clicktrack|clickthrough|clk|conv|conversion|conversions|convert|cvt|collect|collector|event|events|eventhub|eventtrack|eventtracking|impression|impressions|pixel|pixels|tag|tags|tagging|tracker|trackers|tracking|telemetry|analytics|measurement|metrics|stats|stat|log|logger|logging|gtag|gtm|googletagmanager|google-analytics|ga4|urchin|gen_204|doubleclick|ddm|floodlight|activity|fb|facebook|fbevents|meta|mp|tr|pixel_id|tiktok|ttq|snap|snapchat|pinterest|pintrk|linkedin|licdn|insight|segment|analyticsjs|amplitude|mixpanel|mparticle|heap|hotjar|fullstory|clarity)(?:[\\/?#]|$)/i;\n\n// Reject known tracking path shapes\nconst TRACKING_SHAPES =\n  /(?:^|\\/)(ddm\\/activity|g\\/collect|collect$|pagead\\/|gtag\\/js|tr\\/|pixel\\/)(?:[\\/?#]|$)/i;\n\n// Explicit Google Ads reject\nconst PAGEAD_REJECT = /(?:^|\\/)pagead(?:\\/|$)/i;\n\n// Reject versioned API routes\nconst VERSIONED_API_REJECT =\n  /^\\/(?:v\\d+|gm\\/v\\d+|mms\\/v\\d+|ctx\\/v\\d+)(?:\\/|$)/i;\n\n// Reject consent / config / ad plumbing\nconst PLUMBING_REJECT =\n  /(?:^|\\/)(consent|privacy-manager|vendor-list|choice|consent-status|meta-data|tcfv2|wrapper|openrtb2?|auction|usync|authorize|keys|messages|configuration|config|signals|targeting|schain|bid|ids|get-treatments|treatments|auxia|sampling|record|toolbox|marker|init|listeners|prepend|store)(?:\\/|$)/i;\n\n// Reject noisy protocol-relative hosts\nconst NOISE_HOST_RE =\n  /^\\/\\/(?:c\\.amazon-adsystem\\.com|ep\\d+\\.adtrafficquality\\.google)\\//i;\n\n/**\n * ===============================\n * HELPER FUNCTIONS\n * ===============================\n */\n\nfunction normalize(s) {\n  // Strip punctuation that sticks to URLs\n  return s.replace(/[),.;:!?`]+$/, \"\").replace(/\\\\+\"?$/, \"\");\n}\n\nfunction isPathOrProtocolRelative(s) {\n  return (\n    s.startsWith(\"/\") ||\n    s.startsWith(\"./\") ||\n    s.startsWith(\"../\") ||\n    s.startsWith(\"//\")\n  );\n}\n\n// Allow human-friendly URLs without .html\nfunction looksLikePrettyContent(s) {\n  if (!/^\\/[a-z0-9][a-z0-9-]+\\/[a-z0-9][a-z0-9-]+/i.test(s)) return false;\n  if (/[A-Z_+=]/.test(s)) return false;\n  if (/\\.[a-z0-9]{1,6}(?:[?#]|$)/i.test(s) && !PAGE_EXT.test(s)) return false;\n  return true;\n}\n\n/**\n * ===============================\n * MAIN LOOP\n * ===============================\n */\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const text = item.json?.body;\n\n  // Skip items without text\n  if (!text) continue;\n\n  // Prevent duplicates per input item\n  const seen = new Set();\n\n  // Reset regex cursor (important!)\n  CANDIDATE_RE.lastIndex = 0;\n\n  let match;\n  while ((match = CANDIDATE_RE.exec(text)) !== null) {\n    const candidate = normalize(match[1] || match[2]);\n\n    if (!candidate) continue;\n    if (!isPathOrProtocolRelative(candidate)) continue;\n    if (NOISE_HOST_RE.test(candidate)) continue;\n\n    // Filter junk\n    if (STATIC_ASSET_EXT.test(candidate)) continue;\n    if (NUMERIC_PATH.test(candidate)) continue;\n    if (CODE_SMELL.test(candidate)) continue;\n    if (HARD_REJECT.test(candidate)) continue;\n    if (PAGEAD_REJECT.test(candidate)) continue;\n    if (TRACKING_SHAPES.test(candidate)) continue;\n    if (TRACKING_KEYWORDS.test(candidate)) continue;\n    if (VERSIONED_API_REJECT.test(candidate)) continue;\n    if (PLUMBING_REJECT.test(candidate)) continue;\n\n    // Keep only human pages\n    if (!PAGE_EXT.test(candidate) && !looksLikePrettyContent(candidate)) continue;\n\n    // De-dupe\n    if (seen.has(candidate)) continue;\n    seen.add(candidate);\n\n    // Output item (clean schema)\n    output.push({\n      json: {\n        output: candidate,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        528
      ],
      "id": "b46d4508-6799-47df-af83-e6edb04791b8",
      "name": "Extract Partial URLs",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Source",
              "field2": "Source"
            }
          ]
        },
        "resolve": "preferInput1",
        "fuzzyCompare": true,
        "options": {
          "skipFields": "row_number, Time, Date, Job, Execution, Error, Title, Created Date, Last Modified, Etag, Hash, Filename"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        3136,
        672
      ],
      "id": "6aaca64c-220e-420d-8f0b-ae64009924ba",
      "name": "Compare",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4ecb076-ded5-4acd-a40d-32990555ab9a",
              "name": "partialUrl",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "bd313833-de6a-4359-9f1f-b6dcb63cc01d",
              "name": "sourceUrl",
              "value": "={{ $('Set Source').all()[0].json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        432
      ],
      "id": "b6df388d-087a-4eba-9f48-7611f0c84230",
      "name": "Set Partial\\Source URL",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/*\n  Rebuild full URLs from partial URLs extracted from HTML.\n\n  Handles:\n  - Absolute URLs: \"https://example.com/x\"\n  - Protocol-relative: \"//example.com/x\"\n  - Root-relative: \"/x\"\n  - Relative with dot segments: \"../x\", \"../../../x\"\n\n  Special case (mount path):\n  If the source page is under a sub-path like:\n    https://example.com/app/content/page.html\n  and a partial URL starts with:\n    /content/other.html\n  then we treat it as:\n    https://example.com/app/content/other.html\n*/\n\n// -------------------- Utility helpers --------------------\n\nfunction stripQuotesAndWhitespace(value) {\n  return String(value ?? \"\")\n    .trim()\n    .replace(/^['\"]+|['\"]+$/g, \"\")\n    .trim();\n}\n\nfunction isLikelyFilePath(url) {\n  try {\n    // If URL() exists, use it (safe)\n    const u = new URL(url);\n    const lastSegment = u.pathname.split(\"/\").filter(Boolean).pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  } catch {\n    // Fallback: simple segment check\n    const lastSegment = String(url)\n      .split(\"?\")[0]\n      .split(\"#\")[0]\n      .split(\"/\")\n      .filter(Boolean)\n      .pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  }\n}\n\nfunction normalizeDoubleSlashes(url) {\n  return String(url).replace(/^(https?:\\/\\/)(.*)$/i, (match, protocol, rest) => {\n    return protocol + rest.replace(/\\/{2,}/g, \"/\");\n  });\n}\n\nfunction addTrailingSlashIfDirectory(url) {\n  if (!url) return url;\n\n  // Trim + remove control chars (e.g., \\r) that can break URL parsing\n  const s = String(url).replace(/[\\u0000-\\u001F\\u007F]/g, \"\").trim();\n  if (!s) return s;\n\n  // Preserve query/hash while deciding about the path\n  const m = s.match(/^([^?#]*)(\\?[^#]*)?(#.*)?$/);\n  const base = m?.[1] ?? s;\n  const query = m?.[2] ?? \"\";\n  const hash  = m?.[3] ?? \"\";\n\n  // Only operate on absolute http(s) URLs; otherwise leave as-is\n  if (!/^https?:\\/\\//i.test(base)) return s;\n\n  // If base is just the origin (no path), force a trailing slash:\n  // https://example.com  -> https://example.com/\n  if (/^https?:\\/\\/[^\\/]+$/i.test(base)) return base + \"/\" + query + hash;\n\n  // If already has trailing slash, keep as-is\n  if (base.endsWith(\"/\")) return base + query + hash;\n\n  // Don't add slash to likely files (extensions)\n  if (isLikelyFilePath(base)) return base + query + hash;\n\n  // Otherwise add trailing slash (directory-like)\n  return base + \"/\" + query + hash;\n}\n\n// Force all absolute http(s) URLs to https\nfunction forceHttps(url) {\n  return String(url).replace(/^http:\\/\\//i, \"https://\");\n}\n\n/*\n  Removes \".\" and \"..\" segments from a path.\n  Example:\n    /a/b/../c  -> /a/c\n*/\nfunction removeDotSegments(path) {\n  const parts = String(path).split(\"/\");\n  const out = [];\n\n  for (const part of parts) {\n    if (part === \"\" || part === \".\") continue;\n    if (part === \"..\") {\n      out.pop();\n      continue;\n    }\n    out.push(part);\n  }\n\n  return \"/\" + out.join(\"/\");\n}\n\n// -------------------- URL resolution logic --------------------\n\nfunction resolveUrl(baseUrl, partialUrl) {\n  const rel = stripQuotesAndWhitespace(partialUrl);\n  const base = forceHttps(stripQuotesAndWhitespace(baseUrl));\n\n  if (!rel) return \"\";\n\n  // Absolute URL\n  if (/^https?:\\/\\//i.test(rel)) return forceHttps(rel);\n\n  // Base must be absolute to resolve properly\n  if (!/^https?:\\/\\//i.test(base)) return rel;\n\n  // Protocol-relative URL: force https\n  if (rel.startsWith(\"//\")) {\n    return \"https:\" + rel;\n  }\n\n  // Extract origin (scheme + host)\n  const origin = base.match(/^(https?:\\/\\/[^\\/]+)/i)?.[1] ?? \"\";\n\n  // Get the base path (no query/hash)\n  const basePath = base\n    .slice(origin.length)\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  // Root-relative path\n  if (rel.startsWith(\"/\")) {\n    // Mount-path heuristic:\n    // If basePath looks like \"/<mount>/<segment>/...\"\n    // and rel starts with \"/<segment>/...\"\n    // then return \"/<mount>\" + rel instead of just rel\n    const relFirst = rel.split(\"/\").filter(Boolean)[0];\n    const baseSegs = basePath.split(\"/\").filter(Boolean);\n\n    if (relFirst && baseSegs.length >= 2 && baseSegs[1] === relFirst) {\n      const mount = baseSegs[0];\n      return origin + \"/\" + mount + rel;\n    }\n\n    return origin + rel;\n  }\n\n  // Relative path (includes \"../\" and \"../../../\")\n  // Resolve it against the directory of the base page:\n  // baseDir = \"/a/b/c/\" if basePath is \"/a/b/c/page.html\"\n  const baseDir = basePath.endsWith(\"/\")\n    ? basePath\n    : basePath.substring(0, basePath.lastIndexOf(\"/\") + 1);\n\n  const combined = baseDir + rel;             // may include ../ segments\n  const cleanedPath = removeDotSegments(combined);\n\n  return origin + cleanedPath;\n}\n\n// -------------------- n8n execution --------------------\n\nreturn items.map((item) => {\n  const partialUrl = stripQuotesAndWhitespace(item.json.partialUrl ?? item.json.url ?? \"\");\n  const sourceUrl = forceHttps(stripQuotesAndWhitespace(item.json.sourceUrl ?? \"\"));\n  const domain = forceHttps(stripQuotesAndWhitespace(item.json.domain ?? \"\"));\n\n  let outputUrl = \"\";\n\n  // Prefer resolving against the full page URL\n  if (partialUrl && sourceUrl) {\n    outputUrl = resolveUrl(sourceUrl, partialUrl);\n  }\n  // Fallback: resolve against a domain if provided\n  else if (partialUrl && domain) {\n    outputUrl = resolveUrl(domain, partialUrl);\n  }\n  // Last resort: return the partial string\n  else {\n    outputUrl = partialUrl;\n  }\n\n  // Normalize and make directory URLs consistent\n  outputUrl = normalizeDoubleSlashes(outputUrl);\n  outputUrl = addTrailingSlashIfDirectory(outputUrl);\n\n  // Final hard stop: do not let http through\n  outputUrl = forceHttps(outputUrl);\n\n  return {\n    json: {\n      ...item.json,\n      output: outputUrl,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        432
      ],
      "id": "b9e35f32-b021-48a6-83a1-e73483f32cc7",
      "name": "Rebuild URL",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "Check Fallback"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -944,
        384
      ],
      "id": "a71f7b8f-256a-40ca-a02f-092e4ea40a01",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.Source }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ddaa4d9-9c2d-4f55-92f8-942120427fe9",
      "name": "Drop Empty",
      "type": "n8n-nodes-base.filter",
      "position": [
        3584,
        704
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $('Set Inputs').item.json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').item.json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 120000
        }
      },
      "id": "5b0773bb-2267-45d0-b836-b9aa86f004ce",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -224,
        112
      ],
      "typeVersion": 4.2,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "=HTTP Request - {{ $json.error.status ?? $json.message }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "5b92a0d3-58a4-4e39-84b3-83b09f51b69c",
      "name": "Append Error (HTTP Request)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        528
      ],
      "id": "b5e2510d-4ed6-433f-a009-75937ddea2b6",
      "name": "Split Out body",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "=Browserless - {{ $json.error.status ?? $json.message }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        224
      ],
      "id": "fe5b51d1-b189-404e-b398-7b087d1e5ca2",
      "name": "Append Error (Browserless)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400ac833-9ce4-4b40-8981-bae327459f03",
              "name": "Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        704
      ],
      "id": "b2276a0f-90f4-46b3-8b72-8a26a99a3808",
      "name": "Compare Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ada5a0d3-1b72-4aea-86ae-82151dc6f472",
              "name": "Source",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        432
      ],
      "id": "e312e7d0-95e8-4250-894b-49b44bee8a55",
      "name": "Compare Input",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27b599da-f9af-4259-8a3b-2fb77af04eac",
              "name": "Source",
              "value": "={{\n  (() => {\n    const html = ($json?.data ?? '').toString?.() ?? '';\n\n    const canonical =\n      html.match(/<link[^>]*rel=[\"']canonical[\"'][^>]*href=[\"']([^\"']+)[\"']/i)?.[1] ?? '';\n\n    const finalUrl =\n      $json?.data?.finalUrl?.url ?? $json?.finalUrl?.url ?? '';\n\n    const source =\n      $('Set Inputs').all?.()?.[0]?.json?.Source ?? '';\n\n    const clean = (v) => String(v ?? '').replace(/[\\u0000-\\u001F\\u007F]/g, '').trim();\n\n    const untouched = clean(finalUrl) || clean(source) || '';\n    const canon = clean(canonical);\n\n    const host = (u) => (String(u).match(/^https?:\\/\\/([^\\/?#]+)/i)?.[1] ?? '').toLowerCase();\n\n    return (canon && untouched && host(canon) && host(untouched) && host(canon) !== host(untouched))\n      ? canon\n      : untouched;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "86f0f2b7-7b34-4821-bf08-3d817fc327d3",
              "name": "body",
              "value": "={{ $json?.data?.fullHtml?.html ?? $json?.data ?? '' }}",
              "type": "string"
            },
            {
              "id": "d51d17ea-010d-4c55-8bf0-1a3418fc0b34",
              "name": "title",
              "value": "={{\n  (\n    $json?.data?.fullHtml?.html\n      ?.match?.(/<title>(.*?)<\\/title>/i)\n      ?.[1]\n    ?? $json?.data\n      ?.match?.(/<title>(.*?)<\\/title>/i)\n      ?.[1]\n    ?? ''\n  )\n}}",
              "type": "string"
            },
            {
              "id": "fbfc015a-c354-4688-abf3-013b9ee8eb46",
              "name": "last-modified",
              "value": "={{\n  $json?.data?.scripts?.[0]?.headers?.find?.(\n    h => (h?.name ?? '').toLowerCase() === 'last-modified'\n  )?.value\n  ?? $json?.headers?.['last-modified']\n  ?? $json?.headers?.['Last-Modified']\n}}",
              "type": "string"
            },
            {
              "id": "9401651c-e78a-41d1-99a3-7f3c74322da9",
              "name": "etag",
              "value": "={{\n  (\n    $json?.data?.scripts?.[0]?.headers?.find?.(\n      h => (h?.name ?? '').toLowerCase() === 'etag'\n    )?.value\n    ?? $json?.headers?.etag\n    ?? $json?.headers?.['etag']\n    ?? $json?.headers?.['ETag']\n  )?.replace(/\"/g, '')\n}}",
              "type": "string"
            },
            {
              "id": "6a2f3c37-86e1-4fc6-b300-582e9bb1999a",
              "name": "scripts",
              "value": "={{ $json?.data?.scripts ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        528
      ],
      "id": "b22919d4-b179-41ef-9c5c-de0d0fd34533",
      "name": "Set Source"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c835e763-1639-489c-83c6-134bc954e486",
              "name": "Source",
              "value": "https://www.ready.gov/",
              "type": "string"
            },
            {
              "id": "2435aec3-f6fd-459d-8294-68e1f0a2158d",
              "name": "Job",
              "value": "1001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        96
      ],
      "id": "8691e325-b766-45cc-b381-ecae2c88a0ef",
      "name": "Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f4d5c38-57a2-4fd0-8463-33ddb61be0cc",
              "name": "allowedDomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "4d7904db-f454-4b39-a43b-9f59a75f88ab",
              "name": "allowedSubdomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "0d7e85bc-8100-4aae-bcba-4f4475928d73",
              "name": "blockedSubdomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "65e0bbd2-bedf-41c9-93fe-c2f07ebfb12f",
              "name": "allowedSections",
              "value": "",
              "type": "string"
            },
            {
              "id": "b230b059-d3f1-4f5d-baa3-2ec180a06522",
              "name": "blockedSections",
              "value": "",
              "type": "string"
            },
            {
              "id": "6e77569e-8d19-4386-88c2-c93095a8c7bc",
              "name": "dataTypes",
              "value": "^https?:\\/\\/[^\\n]*\\.(?:html?|pdf)\\b[^\\n]*$",
              "type": "string"
            },
            {
              "id": "7c65d6d7-1b45-4ec1-aede-461101a9afe6",
              "name": "Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            },
            {
              "id": "a13a4dad-b477-41b8-a066-2963e42de13d",
              "name": "Job",
              "value": "={{ $json.Job }}",
              "type": "string"
            },
            {
              "id": "ff496dbd-bf79-4ef7-a811-a80b1a3890fd",
              "name": "Execution",
              "value": "=CrawlinOne-{{$execution.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        192
      ],
      "id": "1de0dd3c-92df-48b1-899e-8569c61a30a4",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        1008
      ],
      "id": "78fd9cb7-4804-4f0b-9c13-eb2da86d92a3",
      "name": "Set Workflow Output (Crawl)",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2688,
        256
      ],
      "id": "9330fd21-1442-4bd0-b822-843569091ff9",
      "name": "Remove Duplicates",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        448
      ],
      "id": "938b4646-55cc-4d51-8ff8-5ba5ba1b3d46",
      "name": "Input",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        640
      ],
      "id": "8d31b9a1-be0a-4632-9664-cb24c57e98ee",
      "name": "Error",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_processed }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        832
      ],
      "id": "94d5b843-cb6e-4d24-b621-dd11bdf13ce3",
      "name": "Processed",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2944,
        816
      ],
      "id": "39240c8a-af94-4252-9424-73c8bc22bca1",
      "name": "Merge"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2464,
        640
      ],
      "id": "d9341630-b453-4dd6-9518-211de6da68e1",
      "name": "Limit Input",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "Data Type Filter",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4032,
        704
      ],
      "id": "4561e0f2-0d14-400f-a8cc-b479a35e0c12",
      "name": "Append Error (Data Type Filter)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{ $json.Source }}",
              "rightValue": "={{ $(\"Set Inputs\").all()[0].json.dataTypes }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "9b8315c2-8375-4cd1-b3b8-8c27a961b05a",
              "leftValue": "={{ $json.Source }}",
              "rightValue": "^https?:\\/\\/[^/\\n]+(?!.*\\/[^?\\n#]*\\.[A-Za-z0-9]{2,6}(?:[?#]|$))[^\\n]*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3808,
        704
      ],
      "id": "b382cb9b-7bc3-448c-946a-ddf1df62bef7",
      "name": "Data Type Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31069597-4422-40c5-987b-3f50fafe2fa1",
              "leftValue": "={{ $json.headers['content-type'] }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        416
      ],
      "id": "1d94ea45-4534-4f66-9c28-94b3e0a7eaf3",
      "name": "HTML Catch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "450a4e34-4915-44b5-8308-a754d3ec15a7",
              "name": "Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        288
      ],
      "id": "0284cf52-ea1a-4382-8e10-c1932bb18090",
      "name": "HTML Failover"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4256,
        1088
      ],
      "id": "9d9725f8-cbb4-42e2-84b3-f81544859c0e",
      "name": "Append Input",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "=PDF - {{ $json.error.status ?? $json.message }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        1312
      ],
      "id": "a09c3c7f-177f-43fd-a1b1-a11693a78e2a",
      "name": "Append Error (PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.crawl_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.crawl_sheet_output }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        192
      ],
      "id": "f7312a90-924e-4f8e-acef-8a8e60fcbd48",
      "name": "Append Crawl-Output (HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.crawl_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.crawl_sheet_output }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        608
      ],
      "id": "723003ac-e56b-4785-9ceb-00fe6b34dc98",
      "name": "Append Crawl-Output (PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        608
      ],
      "id": "fe7904ba-d072-4ba2-9cbb-665600d804bd",
      "name": "Set Workflow Output (PDF)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        704
      ],
      "id": "9cf075ab-eb43-46bc-bf35-6049354d9b36",
      "name": "Set Workflow Output (Data Type Filter)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        1088
      ],
      "id": "266eacfa-67fb-478a-8cfe-02984b68905e",
      "name": "Set Workflow Output (Append Input)",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $('Set Inputs').item.json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').item.json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        192
      ],
      "id": "ebb56c93-614f-4fa4-a429-4e21e2c008bc",
      "name": "PDF Binary",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nCreate Generic Credential\nType: Query Auth\nName: token\nYour Browserless API Key",
        "height": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        208
      ],
      "id": "2e4b87ef-d488-4201-88e9-d9e9ca4b0323",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "errorMessage": "=Check HTTP Request: {{ $json.Error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "9d1453ed-caa8-499d-ac5a-56bc54676b0e",
      "name": "Stop and Error (HTTP Request)",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "=Check Browserless: {{ $json.Error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        432,
        224
      ],
      "id": "f347ce2b-240a-4a90-9e0e-88fdf923b23c",
      "name": "Stop and Error (Browserless)",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "=Check PDF: {{ $json.Error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -464,
        1312
      ],
      "id": "b4c0c5e3-07e5-43d5-9288-d566b1b56312",
      "name": "Stop and Error (PDF)",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nallowedDomains\nOnly crawl URLs from specified root domains.\nhttps://ready.gov/\n→ ready.gov, fema.gov,\n\nallowedSubdomains\nOnly crawl specific subdomains (instead of all).\nhttps://nasa.gov/\n→ science.nasa.gov, nasa.gov,\n\nblockedSubdomains\nCrawl all subdomains except those listed.\nhttps://nasa.gov/\n→ plus.nasa.gov\n\nallowedSections\nOnly crawl URLs containing specified path segments.\nhttps://nps.gov/subjects/fossils/\n→ fossils, articles\n\nblockedSections\nCrawl all sections except those containing specified path segments.\nhttps://ready.gov/\n→ ar,es,fr,ht,ja,ko,ru,tl,vi,zh-hans,hi,pt-br,\n\ndataTypes\nRegex filter for allowed file types.\ne.g., allow: HTML, PDF (customizable)",
        "height": 864,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        192
      ],
      "id": "45cdf222-4cc5-465b-889e-f76569933361",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Crawl-in-One\nRuns a combined Crawl and Scrape workflow to reduce API calls.\nThere are multiple filters available in the Sets Inputs node to help refine what data is collected during a run.\n",
        "height": 112,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        -80
      ],
      "id": "543a8a65-bf31-453b-9fa9-e799f9af3365",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        1312
      ],
      "id": "906a9470-76fc-473a-848d-4cd0640608c4",
      "name": "Merge PDF"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.documents_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.documents_sheet_unformatted_pdf }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Final PDF').item.json.Title }}",
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Filename": "={{ $('Final PDF').item.json.Filename }}.pdf",
            "Last Modified": "={{ $('Final PDF').item.json['Last Modified'] }}",
            "Created Date": "={{ $('Final PDF').item.json['Created Date'] }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Final PDF').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1296
      ],
      "id": "39d9055c-778f-4135-9a92-cf7b73f23126",
      "name": "Update Unformatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        1488
      ],
      "id": "7b3b5e4b-0995-494a-a742-3e0e9563de81",
      "name": "Upload Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db69125e-9e76-4c99-b7d8-074576d1e249",
              "name": "=ID",
              "value": "={{$execution.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1584
      ],
      "id": "3ef7479a-71ee-4df4-b3d3-e9d074123133",
      "name": "Set ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f26df12a-662b-47dd-8391-fc6ab7bdf6e2",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "={{ $json.createdTime }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1584
      ],
      "id": "2c131994-6c85-4228-9580-2b3680e7de80",
      "name": "Success"
    },
    {
      "parameters": {
        "name": "={{ $('Set Inputs').item.json.Source.replace(/[?=]/g, '').replace(/https?:\\/\\/(www\\.)?/g, '').replace(/[\\/~]|\\.com|:|-|\\.|html/g, '').replace(/\\s/g, '') }}-{{ $now.toFormat('yyyyMMdd') }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.folder_unformatted_pdf }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        1584
      ],
      "id": "d067b07a-b3d1-491e-8857-2c7c49f3c182",
      "name": "Upload-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.documents_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.documents_sheet_formatted_pdf }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Final PDF').item.json.Title }}",
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Filename": "={{ $('Final PDF').item.json.Filename }}.txt",
            "Last Modified": "={{ $('Final PDF').item.json['Last Modified'] }}",
            "Created Date": "={{ $('Final PDF').item.json['Created Date'] }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Final PDF').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1104
      ],
      "id": "4d99b27d-e93d-472d-887f-dcd63320efd0",
      "name": "Update Formatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $json.Filename }}.txt",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.folder_formatted_pdf }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        1104
      ],
      "id": "102f3ef2-2fb7-4458-aea9-2b2f44425dd3",
      "name": "Upload-Formatted-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0779c1ce-d087-42d3-80a0-1d18360ca697",
              "name": "ID",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "bd693022-4fc4-4c70-9b86-6b44c5f49303",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "c362607c-1195-4131-b3b5-f47952e45692",
              "name": "Created Date",
              "value": "={{ $json.CreationDate }}",
              "type": "string"
            },
            {
              "id": "feabf9d3-b3ca-4270-8263-cce8dd7a8e13",
              "name": "Last Modified",
              "value": "={{ $json.ModDate }}",
              "type": "string"
            },
            {
              "id": "1b46b873-e267-4ac6-8e06-b9b347c4b308",
              "name": "Etag",
              "value": "",
              "type": "string"
            },
            {
              "id": "4d7cfbef-f020-417a-96e6-a876f400af2d",
              "name": "Hash",
              "value": "={{ $json.hash }}",
              "type": "string"
            },
            {
              "id": "cd248931-97e7-4c94-8ebd-7c9077a5a1a8",
              "name": "Filename",
              "value": "={{ $json.Filename }}",
              "type": "string"
            },
            {
              "id": "1a1467b2-4369-4e6d-b6a0-9f7ddfa7db17",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1296
      ],
      "id": "f005205e-7b8d-4b7e-809f-f2c141dc4710",
      "name": "Final PDF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f0182c6-4362-4af6-bda7-d72a82e6b9b3",
              "name": "ID",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "cc073a9f-7934-4039-8e77-d288234e5792",
              "name": "Title",
              "value": "={{ $json.text.split('\\n')[0] ?? $json.data.split('\\n')[0]}}",
              "type": "string"
            },
            {
              "id": "c362607c-1195-4131-b3b5-f47952e45692",
              "name": "CreationDate",
              "value": "={{ $('Extract PDF Data').all()[0].json.info.CreationDate }}",
              "type": "string"
            },
            {
              "id": "feabf9d3-b3ca-4270-8263-cce8dd7a8e13",
              "name": "ModDate",
              "value": "={{ $('Extract PDF Data').all()[0].json.info.ModDate }}",
              "type": "string"
            },
            {
              "id": "2ed3e942-9a58-4a78-b84d-f2bd05ee1783",
              "name": "Filename",
              "value": "={{ $('Set Inputs').all()[0].json.Source.replace(/[?=]/g, '').replace(/https?:\\/\\/(www\\.)?/g, '').replace(/[\\/~]|\\.com|:|-|\\.|html/g, '').replace(/\\s/g, '') }}-{{ $now.toFormat('yyyyMMdd') }}",
              "type": "string"
            },
            {
              "id": "78c0c8aa-38c9-4081-93cb-affeb0323887",
              "name": "data",
              "value": "={{ $json.text ?? json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1392
      ],
      "id": "fc89017b-9ce7-4b43-a083-484d366ed23e",
      "name": "Set PDF Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2cd3550-5655-4c6d-93d5-5ff61683c966",
              "name": "ID",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "17d95b31-278d-40ca-922c-f315025e92f8",
              "name": "hash",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1200
      ],
      "id": "dadd1941-a711-428a-bda6-ac36687ec7bd",
      "name": "Set PDF Hash"
    },
    {
      "parameters": {
        "binaryData": true,
        "type": "SHA3-256"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        0,
        1200
      ],
      "id": "b7b9f2be-65a4-4c64-9ce6-c4731644698b",
      "name": "PDF Hash"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        1392
      ],
      "id": "0ac6f574-9853-486f-9bf0-a6c89299a489",
      "name": "Extract PDF Data",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "html": "={{ $json.body }}",
        "options": {
          "ignore": "a,img,nav,header,footer,script,style,form,button,svg"
        }
      },
      "id": "7e8e0ee3-ac0e-4d17-a987-b338f9555e89",
      "name": "Convert HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1120,
        912
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 4
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $json.Filename }}",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.folder_formatted_html }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        912
      ],
      "id": "e921c688-5e37-489a-9f74-19f9e4b9aacc",
      "name": "Upload-Formatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// items: [{ json: { data: '...markdown...' } }, ...]\n\nreturn items.map(item => {\n  let md = item.json.data || '';\n\n  // Normalize line endings\n  md = md.replace(/\\r\\n/g, '\\n');\n\n  const navJunkPatterns = [\n    /you are here:/i,\n    /back to top/i,\n    /cookie/i,\n    /privacy policy/i,\n    /terms of (use|service)/i,\n    /all rights reserved/i,\n    /accept cookies/i,\n    /enable javascript/i,\n  ];\n\n  const lines = md.split('\\n');\n  const cleanedLines = [];\n\n  for (let raw of lines) {\n    let line = raw;\n    const trimmed = line.trim();\n\n    // 1. Keep blank lines (we'll collapse later)\n    if (!trimmed) {\n      cleanedLines.push('');\n      continue;\n    }\n\n    // 2. Drop YAML/frontmatter / horizontal rules like \"---\"\n    if (/^---+$/.test(trimmed)) continue;\n\n    // 3. Drop pure punctuation separators (***, ___, etc.)\n    if (/^[\\-\\*_~`]+$/.test(trimmed)) continue;\n\n    // 4. Detect markdown table-ish lines\n    const isTableRow = /^\\s*\\|.*\\|\\s*$/.test(trimmed);\n    const isTableSeparator = /^\\s*\\|?\\s*:?-{2,}.*\\|?\\s*$/.test(trimmed);\n\n    // If it's clearly a table separator row, drop it\n    if (isTableSeparator) continue;\n\n    // Optional: If you want to drop ALL table rows, uncomment:\n    // if (isTableRow) continue;\n\n    // 5. Skip obvious nav/footer/legal junk\n    if (navJunkPatterns.some(re => re.test(trimmed))) continue;\n\n    // 6. Skip tiny non-heading, non-list UI fragments\n    const wordCount = trimmed.split(/\\s+/).length;\n    const isHeadingOrList = /^(#{1,6}\\s|\\* |-|\\d+\\.)/.test(trimmed);\n    if (\n      wordCount <= 3 &&\n      !isHeadingOrList &&\n      !/[.!?]$/.test(trimmed) // not a full sentence\n    ) {\n      // e.g. \"Filter:\", \"Submit Search\", \"Login\"\n      continue;\n    }\n\n    // 7. Normalize internal spacing a bit\n    line = line.replace(/[ \\t]{2,}/g, ' ');\n\n    cleanedLines.push(line);\n  }\n\n  // 8. Collapse multiple blank lines into a single blank line\n  const cleaned = cleanedLines\n    .join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  item.json.cleanedMarkdown = cleaned;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        912
      ],
      "id": "e57a97a6-3b16-4686-af82-3a754c5cc142",
      "name": "Clean Markdown",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $json.Filename }}",
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.folder_unformatted_html }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        720
      ],
      "id": "985fe38e-8b6a-49eb-b3e6-3c4fcc6d7e32",
      "name": "Upload-Unformatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.documents_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.documents_sheet_unformatted_html }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Unformatted HTML').item.json.Source }}",
            "Title": "={{ $('Set Unformatted HTML').item.json.Title }}",
            "Last Modified": "={{ $('Set Unformatted HTML').item.json['Last Modified'] }}",
            "Etag": "={{ $('Set Unformatted HTML').item.json.Etag }}",
            "Filename": "={{ $('Set Unformatted HTML').item.json.Filename }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Set Unformatted HTML').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        720
      ],
      "id": "491fbe3c-fc1f-44b3-b7d1-4fbd78ee3eed",
      "name": "Update Unformatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f24c5582-740e-4657-9b9b-80f7c08823e8",
              "name": "data",
              "value": "={{ $json.cleanedMarkdown }}",
              "type": "string"
            },
            {
              "id": "bee9eb66-6449-4903-943c-a2ebe4e55e45",
              "name": "Source",
              "value": "={{ $('Set Upload').item.json.Source }}",
              "type": "string"
            },
            {
              "id": "e4e2a0f4-4082-4d33-8208-129948b3de1d",
              "name": "Title",
              "value": "={{ $('Set Upload').item.json.Title }}",
              "type": "string"
            },
            {
              "id": "7c5adf3b-694a-41d6-a931-aaf768f7b5a0",
              "name": "Last Modified",
              "value": "={{ $('Set Upload').item.json['Last Modified'] }}",
              "type": "string"
            },
            {
              "id": "948ed494-c0eb-4e5b-a0f2-e5102d84dbf6",
              "name": "Etag",
              "value": "={{ $('Set Upload').item.json.Etag }}",
              "type": "string"
            },
            {
              "id": "57aa300d-61c6-40b2-8032-41992cb08847",
              "name": "Hash",
              "value": "={{ $json.hash }}",
              "type": "string"
            },
            {
              "id": "1ba432ca-2226-44ab-8cdd-a70ca09ea879",
              "name": "Filename",
              "value": "={{ $('Set Upload').item.json.filename }}.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        912
      ],
      "id": "e1923062-ad23-4a89-b9d6-30a4afd7dff8",
      "name": "Set Formatted HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f24c5582-740e-4657-9b9b-80f7c08823e8",
              "name": "data",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "29f7a3ae-1cde-487f-b700-9fe615bc0d64",
              "name": "Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            },
            {
              "id": "e4e2a0f4-4082-4d33-8208-129948b3de1d",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "7c5adf3b-694a-41d6-a931-aaf768f7b5a0",
              "name": "Last Modified",
              "value": "={{ $json['Last Modified'] }}",
              "type": "string"
            },
            {
              "id": "948ed494-c0eb-4e5b-a0f2-e5102d84dbf6",
              "name": "Etag",
              "value": "={{ $json.Etag }}",
              "type": "string"
            },
            {
              "id": "57aa300d-61c6-40b2-8032-41992cb08847",
              "name": "Hash",
              "value": "={{ $json.hash }}",
              "type": "string"
            },
            {
              "id": "1ba432ca-2226-44ab-8cdd-a70ca09ea879",
              "name": "Filename",
              "value": "={{ $json.filename }}.html",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        720
      ],
      "id": "502bb9b4-4e74-443a-a09b-455c0ffe5d44",
      "name": "Set Unformatted HTML"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.scrape_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.scrape_sheet_output }} ",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Final PDF').item.json.Title }}",
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Filename": "={{ $('Final PDF').item.json.Filename }}.txt",
            "Last Modified": "={{ $('Final PDF').item.json['Last Modified'] }}",
            "Created Date": "={{ $('Final PDF').item.json['Created Date'] }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Final PDF').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1584
      ],
      "id": "dd8c8ef5-4007-4e7f-99c8-a89e674f8b0c",
      "name": "Update Scrape-Output (PDF)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.scrape_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.scrape_sheet_output }} ",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Set Formatted HTML').item.json.Title }}",
            "Source": "={{ $('Set Formatted HTML').item.json.Source }}",
            "Last Modified": "={{ $('Set Formatted HTML').item.json['Last Modified'] }}",
            "Etag": "={{ $('Set Formatted HTML').item.json.Etag }}",
            "Filename": "={{ $('Set Formatted HTML').item.json.Filename }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Set Formatted HTML').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        1008
      ],
      "id": "5e7f4b68-bd77-4dad-b737-6d9255ae0d78",
      "name": "Update Scrape-Output (HTML)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca835c3-7013-4ad0-b7cf-ebe988a15a79",
              "name": "body",
              "value": "={{ $('Set Source').all()[0].json.body }}",
              "type": "string"
            },
            {
              "id": "c498557d-3422-4f66-8de0-90fae1221c01",
              "name": "Source",
              "value": "={{ $('Set Source').all()[0].json.Source }}",
              "type": "string"
            },
            {
              "id": "7b8edf18-68a6-4db7-ad07-8864ae56d26f",
              "name": "Title",
              "value": "={{ $('Set Source').all()[0].json.title }}",
              "type": "string"
            },
            {
              "id": "346568cf-f069-4f88-a12d-56e1977eee21",
              "name": "Last Modified",
              "value": "={{ $('Set Source').all()[0].json['last-modified'] }}",
              "type": "string"
            },
            {
              "id": "bdc830be-3b71-43d9-bfbd-248a6d6dff14",
              "name": "=Etag",
              "value": "={{ $('Set Source').all()[0].json.etag }}",
              "type": "string"
            },
            {
              "id": "d4e85ac0-9e42-4118-90d8-0b76c530971d",
              "name": "filename",
              "value": "={{ $('Set Source').all()[0].json.Source.replace(/[?=]/g, '').replace(/https?:\\/\\/(www\\.)?/g, '').replace(/\\/|\\.com|:|-|\\.|html/g, '').replace(/\\s/g, '') }}-{{ $now.toFormat('yyyyMMdd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        816
      ],
      "id": "77aed21b-a17a-4e3c-87c8-9ddc11df58c2",
      "name": "Set Upload"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.documents_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.documents_sheet_formatted_html }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Formatted HTML').item.json.Source }}",
            "Title": "={{ $('Set Formatted HTML').item.json.Title }}",
            "Last Modified": "={{ $('Set Formatted HTML').item.json['Last Modified'] }}",
            "Etag": "={{ $('Set Formatted HTML').item.json.Etag }}",
            "Filename": "={{ $('Set Formatted HTML').item.json.Filename }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Hash": "={{ $('Set Formatted HTML').item.json.Hash }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        816
      ],
      "id": "28dd466e-79be-4af2-90ec-012c1342a4e2",
      "name": "Update Formatted-HTML",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        1008
      ],
      "id": "298e05d1-546d-4ef7-867b-66a0c3ad36c8",
      "name": "Set Output (HTML Scrape)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        1584
      ],
      "id": "84e4cf3d-544b-47cd-bab1-ae798ce90a67",
      "name": "Set Output (PDF Scrape)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "fileSizeMB",
              "value": "={{ (parseInt($json.headers['content-length']) / 1048576).toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "fileSizeBytes",
              "value": "={{ parseInt($json.headers['content-length']) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1c1d7f3f-79b2-4563-ac19-ddfba1d79d96",
      "name": "Calculate File Size",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $('Set Inputs').all()[0].json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "=PDF Size - {{ $json.fileSizeMB }}mb",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1008
      ],
      "id": "f6f647ea-9d24-4626-9a9f-04a5ab32c62a",
      "name": "Append Error (PDF Size)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ (parseInt($json.headers['content-length']) / 1048576) > 15 }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dda90957-ccbc-4372-a407-3c6343b4e4f0",
      "name": "Greater Than 15mb",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        1120
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nOptional Workflow:\nProcess large documents with Transloadit OCR service",
        "height": 288,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        1008
      ],
      "id": "edf18373-d941-4a8b-999d-fdd25189fc67",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "Domain Filter (Pre-Crawl)",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "d753fc86-2136-4c3d-9325-de7fd866ad29",
      "name": "Append Error (Domain Filter Pre-Crawl)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "11682425-d4c9-476f-abb1-3c5706adb66d",
      "name": "Set Workflow Output (Domain Filter Pre-Crawl)",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512c981d-9fe4-48da-8b8a-980ae65ba92a",
              "leftValue": "={{\n  Boolean((() => {\n    const srcRaw = (($json.Source || '') + '').trim().toLowerCase();\n    if (!srcRaw) return false;\n\n    const parseHostPath = (s) => {\n      s = (s || '').trim().toLowerCase();\n      if (!s) return null;\n\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n\n      const parts = s.split('/');\n      const host = (parts.shift() || '').replace(/\\.$/, '');\n      let path = '/' + parts.join('/');\n\n      if (path === '/') path = '';\n      path = path.replace(/\\/+$/, '');\n\n      return host ? { host, path } : null;\n    };\n\n    const src = parseHostPath(srcRaw);\n    if (!src) return false;\n\n    const allowedRaw = (($('Set Inputs').first().json.allowedDomains || '') + '')\n      .split(',')\n      .map(s => s.trim())\n      .filter(Boolean);\n\n    // allow all if empty\n    if (allowedRaw.length === 0) return true;\n\n    const allowed = allowedRaw\n      .map(parseHostPath)\n      .filter(Boolean);\n\n    const hostMatches = (srcHost, allowedHost) =>\n      srcHost === allowedHost || srcHost.endsWith('.' + allowedHost);\n\n    return allowed.some(a => {\n      if (!hostMatches(src.host, a.host)) return false;\n      if (!a.path) return true;\n      return src.path === a.path || src.path.startsWith(a.path + '/');\n    });\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{\n  Boolean((() => {\n    const inputs = $('Set Inputs').first().json || {};\n\n    const normalizeHost = (s) => {\n      s = ('' + (s || '')).trim().toLowerCase();\n      if (!s) return '';\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n      let host = (s.split('/')[0] || '').replace(/\\.$/, '');\n      if (host.startsWith('www.')) host = host.slice(4);\n      return host;\n    };\n\n    const parseHosts = (v) =>\n      ('' + (v || ''))\n        .split(',')\n        .map(x => normalizeHost(x))\n        .filter(Boolean);\n\n    const srcHost = normalizeHost($json.Source);\n    if (!srcHost) return false;\n\n    const allowedSub = parseHosts(inputs.allowedSubdomains);\n    const blockedSub = parseHosts(inputs.blockedSubdomains);\n\n    // 1) allowedSubdomains is a HARD allowlist if set\n    if (allowedSub.length > 0 && !allowedSub.includes(srcHost)) return false;\n\n    // 2) blocklist always applies (override deny)\n    if (blockedSub.length > 0 && blockedSub.includes(srcHost)) return false;\n\n    return true;\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.allowedDomains }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "709b6e78-9034-4a46-b893-7b059203ec95",
              "leftValue": "={{\n  Boolean((() => {\n    const src = ('' + ($json.Source || '')).toLowerCase();\n    if (!src) return false;\n\n    const parse = v =>\n      ('' + (v || ''))\n        .split(',')\n        .map(s => s.trim().toLowerCase())\n        .filter(Boolean);\n\n    const allowed = parse($('Set Inputs').first().json.allowedSections);\n    const blocked = parse($('Set Inputs').first().json.blockedSections);\n\n    // Match section as:\n    //  - \"/section/\" anywhere (directory)\n    //  - \"/section-<something>/\" anywhere (hyphenated directory)\n    // NOT filenames like \"/section-thing.htm\"\n    const matches = (section) => {\n      const re = new RegExp(`/${section}(?:/|-[^/]+/)`);\n      return re.test(src);\n    };\n\n    // 1) blocklist wins\n    if (blocked.some(matches)) return false;\n\n    // 2) no allowlist => allow\n    if (allowed.length === 0) return true;\n\n    // 3) otherwise must match allowlist\n    return allowed.some(matches);\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        528
      ],
      "id": "021fbe6b-f7b7-4534-b647-0401faef866c",
      "name": "Domain Filter (Pre-Crawl)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512c981d-9fe4-48da-8b8a-980ae65ba92a",
              "leftValue": "={{\n  Boolean((() => {\n    const srcRaw = (($json.Source || '') + '').trim().toLowerCase();\n    if (!srcRaw) return false;\n\n    const parseHostPath = (s) => {\n      s = (s || '').trim().toLowerCase();\n      if (!s) return null;\n\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n\n      const parts = s.split('/');\n      const host = (parts.shift() || '').replace(/\\.$/, '');\n      let path = '/' + parts.join('/');\n\n      if (path === '/') path = '';\n      path = path.replace(/\\/+$/, '');\n\n      return host ? { host, path } : null;\n    };\n\n    const src = parseHostPath(srcRaw);\n    if (!src) return false;\n\n    const allowedRaw = (($('Set Inputs').first().json.allowedDomains || '') + '')\n      .split(',')\n      .map(s => s.trim())\n      .filter(Boolean);\n\n    // allow all if empty\n    if (allowedRaw.length === 0) return true;\n\n    const allowed = allowedRaw\n      .map(parseHostPath)\n      .filter(Boolean);\n\n    const hostMatches = (srcHost, allowedHost) =>\n      srcHost === allowedHost || srcHost.endsWith('.' + allowedHost);\n\n    return allowed.some(a => {\n      if (!hostMatches(src.host, a.host)) return false;\n      if (!a.path) return true;\n      return src.path === a.path || src.path.startsWith(a.path + '/');\n    });\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{\n  Boolean((() => {\n    const inputs = $('Set Inputs').first().json || {};\n\n    const normalizeHost = (s) => {\n      s = ('' + (s || '')).trim().toLowerCase();\n      if (!s) return '';\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n      let host = (s.split('/')[0] || '').replace(/\\.$/, '');\n      if (host.startsWith('www.')) host = host.slice(4);\n      return host;\n    };\n\n    const parseHosts = (v) =>\n      ('' + (v || ''))\n        .split(',')\n        .map(x => normalizeHost(x))\n        .filter(Boolean);\n\n    const srcHost = normalizeHost($json.Source);\n    if (!srcHost) return false;\n\n    const allowedSub = parseHosts(inputs.allowedSubdomains);\n    const blockedSub = parseHosts(inputs.blockedSubdomains);\n\n    // 1) allowedSubdomains is a HARD allowlist if set\n    if (allowedSub.length > 0 && !allowedSub.includes(srcHost)) return false;\n\n    // 2) blocklist always applies (override deny)\n    if (blockedSub.length > 0 && blockedSub.includes(srcHost)) return false;\n\n    return true;\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.allowedDomains }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "709b6e78-9034-4a46-b893-7b059203ec95",
              "leftValue": "={{\n  Boolean((() => {\n    const src = ('' + ($json.Source || '')).toLowerCase();\n    if (!src) return false;\n\n    const parse = v =>\n      ('' + (v || ''))\n        .split(',')\n        .map(s => s.trim().toLowerCase())\n        .filter(Boolean);\n\n    const allowed = parse($('Set Inputs').first().json.allowedSections);\n    const blocked = parse($('Set Inputs').first().json.blockedSections);\n\n    // Match section as:\n    //  - \"/section/\" anywhere (directory)\n    //  - \"/section-<something>/\" anywhere (hyphenated directory)\n    // NOT filenames like \"/section-thing.htm\"\n    const matches = (section) => {\n      const re = new RegExp(`/${section}(?:/|-[^/]+/)`);\n      return re.test(src);\n    };\n\n    // 1) blocklist wins\n    if (blocked.some(matches)) return false;\n\n    // 2) no allowlist => allow\n    if (allowed.length === 0) return true;\n\n    // 3) otherwise must match allowlist\n    return allowed.some(matches);\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4032,
        896
      ],
      "id": "4181c38a-9036-46c1-a3cd-c345e5db7e9b",
      "name": "Domain Filter (Post-Crawl)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Job": "={{ $('Set Inputs').all()[0].json.Job }}",
            "Execution": "={{ $('Set Inputs').all()[0].json.Execution }}",
            "Error": "Domain Filter (Post-Crawl)",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"
          },
          "matchingColumns": [
            "Source"
          ],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4256,
        896
      ],
      "id": "3f25474f-6129-4301-9448-223113946301",
      "name": "Append Error (Domain Filter Post-Crawl)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        896
      ],
      "id": "2ac218a5-9165-4254-a6aa-a7f759de7247",
      "name": "Set Workflow Output (Domain Filter Post-Crawl)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "530e4c34-5afd-481a-a17d-5c8ec4e129bb",
              "name": "Source",
              "value": "={{ $('Set Inputs').all()[0].json.Source }}",
              "type": "string"
            },
            {
              "id": "7f3c015e-d258-48cd-889f-1b42aeb416ce",
              "name": "=Job",
              "value": "={{ $('Set Inputs').all()[0].json.Job }}",
              "type": "string"
            },
            {
              "id": "4f9db832-b1fe-46cf-9791-69205ecb18d5",
              "name": "Execution",
              "value": "={{ $('Set Inputs').all()[0].json.Execution }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1008
      ],
      "id": "257d9b41-071c-4405-9868-208e8b175d19",
      "name": "Set TransloaditOCR"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "=",
          "mode": "id",
          "cachedResultUrl": "/workflow/="
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        1008
      ],
      "id": "547ceb5a-a9b4-401b-96b7-edf2d5da014e",
      "name": "Call 'TransloaditOCR'",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nStop Workflow on Error",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "922d78a5-8ed5-41cd-9417-268f37bf4842",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nStop Workflow on Error",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "2ada52f2-a1ea-43f6-a762-8134374341d8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\nStop Workflow on Error",
        "height": 176,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        1296
      ],
      "id": "ae887c51-efa3-4df7-9b49-1f97fbd57182",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1008
      ],
      "id": "9e816db1-9e0e-496a-b794-0c48893a763d",
      "name": "Set Workflow Output (PDF Size)",
      "executeOnce": true
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.cleanedMarkdown }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1568,
        912
      ],
      "id": "51c8627c-aff0-4912-acec-e1b0c3e33d21",
      "name": "Markdown Hash",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nHash Markdown Value instead of full HTML",
        "height": 208,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        912
      ],
      "id": "6e8b6e91-5bf4-4f97-9672-3bdf8aa76d8c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.body }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        896,
        816
      ],
      "id": "f0979b09-ac8c-46e6-8d2b-8afa3b5d703a",
      "name": "HTML Hash"
    }
  ],
  "pinData": {},
  "connections": {
    "Browserless": {
      "main": [
        [
          {
            "node": "Set Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (Browserless)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spilt-Out HTML href": {
      "main": [
        [
          {
            "node": "Merge HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML href": {
      "main": [
        [
          {
            "node": "Spilt-Out HTML href",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split-Out Scripts": {
      "main": [
        [
          {
            "node": "Split Out body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junk Filter": {
      "main": [
        [
          {
            "node": "Set Partial\\Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge HTML": {
      "main": [
        [
          {
            "node": "Junk Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Partial URLs": {
      "main": [
        [
          {
            "node": "Merge HTML",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare": {
      "main": [
        [
          {
            "node": "Compare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Partial\\Source URL": {
      "main": [
        [
          {
            "node": "Rebuild URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild URL": {
      "main": [
        [
          {
            "node": "Compare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Empty": {
      "main": [
        [
          {
            "node": "Data Type Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Browserless",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out body": {
      "main": [
        [
          {
            "node": "Extract Partial URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Output": {
      "main": [
        [
          {
            "node": "Drop Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Input": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source": {
      "main": [
        [
          {
            "node": "Domain Filter (Pre-Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Compare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Processed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compare",
            "type": "main",
            "index": 1
          },
          {
            "node": "Set Workflow Output (Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Input": {
      "main": [
        [
          {
            "node": "Processed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Type Filter": {
      "main": [
        [
          {
            "node": "Domain Filter (Post-Crawl)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (Data Type Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Catch": {
      "main": [
        [
          {
            "node": "HTML Failover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Crawl-Output (PDF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Failover": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Crawl-Output (PDF)": {
      "main": [
        [
          {
            "node": "Set Workflow Output (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (HTTP Request)": {
      "main": [
        [
          {
            "node": "Stop and Error (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (Browserless)": {
      "main": [
        [
          {
            "node": "Stop and Error (Browserless)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (Data Type Filter)": {
      "main": [
        [
          {
            "node": "Set Workflow Output (Data Type Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Input": {
      "main": [
        [
          {
            "node": "Set Workflow Output (Append Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (PDF)": {
      "main": [
        [
          {
            "node": "Stop and Error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Binary": {
      "main": [
        [
          {
            "node": "HTML Catch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PDF": {
      "main": [
        [
          {
            "node": "Final PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Merge": {
      "main": [
        [
          {
            "node": "Update Unformatted-PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Scrape-Output (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "Upload Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-PDF": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Formatted-PDF": {
      "main": [
        [
          {
            "node": "Update Formatted-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final PDF": {
      "main": [
        [
          {
            "node": "Upload-Formatted-PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Data": {
      "main": [
        [
          {
            "node": "Merge PDF",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set PDF Hash": {
      "main": [
        [
          {
            "node": "Merge PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Hash": {
      "main": [
        [
          {
            "node": "Set PDF Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Data": {
      "main": [
        [
          {
            "node": "Set PDF Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown": {
      "main": [
        [
          {
            "node": "Clean Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Formatted-HTML": {
      "main": [
        [
          {
            "node": "Update Scrape-Output (HTML)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Formatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Markdown": {
      "main": [
        [
          {
            "node": "Markdown Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Unformatted-HTML": {
      "main": [
        [
          {
            "node": "Update Unformatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Formatted HTML": {
      "main": [
        [
          {
            "node": "Upload-Formatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unformatted HTML": {
      "main": [
        [
          {
            "node": "Upload-Unformatted-HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrape-Output (PDF)": {
      "main": [
        [
          {
            "node": "Set Output (PDF Scrape)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrape-Output (HTML)": {
      "main": [
        [
          {
            "node": "Set Output (HTML Scrape)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Upload": {
      "main": [
        [
          {
            "node": "HTML Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate File Size": {
      "main": [
        [
          {
            "node": "Greater Than 15mb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (PDF Size)": {
      "main": [
        [
          {
            "node": "Set TransloaditOCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greater Than 15mb": {
      "main": [
        [
          {
            "node": "Append Error (PDF Size)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Hash",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract PDF Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload-PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (Domain Filter Pre-Crawl)": {
      "main": [
        [
          {
            "node": "Set Workflow Output (Domain Filter Pre-Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Filter (Pre-Crawl)": {
      "main": [
        [
          {
            "node": "Append Crawl-Output (HTML)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract HTML href",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split-Out Scripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (Domain Filter Pre-Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Filter (Post-Crawl)": {
      "main": [
        [
          {
            "node": "Append Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error (Domain Filter Post-Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error (Domain Filter Post-Crawl)": {
      "main": [
        [
          {
            "node": "Set Workflow Output (Domain Filter Post-Crawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set TransloaditOCR": {
      "main": [
        [
          {
            "node": "Call 'TransloaditOCR'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TransloaditOCR'": {
      "main": [
        [
          {
            "node": "Set Workflow Output (PDF Size)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Hash": {
      "main": [
        [
          {
            "node": "Set Formatted HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Hash": {
      "main": [
        [
          {
            "node": "Convert HTML to Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Unformatted HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "49cdd412-30cc-4bf2-9c1e-7aead578fa75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90f7f7e6a26b85872ce66ded5d7910e921575d60b70d6a45b57c87eb5310c2c"
  },
  "id": "n82mP6RggQseIKiJ",
  "tags": []
}