Workflows/Tools/ArchiveSpreadsheet.json
{
  "name": "ArchiveSpreadsheet",
  "nodes": [
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nSub-Workflow\n(Crawl, Scrape, Upsert, ..)\n\nJob\n(1001, SITENAME-1001)",
        "height": 272,
        "width": 230,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        64
      ],
      "id": "14a99249-7a28-4037-81fa-229230845024",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Archive Spreadsheet\nThis workflow copies the specified sub-workflow sheet and appends the Manager's Input, Error, and Processed sheets to the archived document.\nRequires sub-workflow and job names to be set (e.g., Crawl, 1001).",
        "height": 96,
        "width": 1088,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "aa866339-2f56-46f9-818e-8309c56ab9d2",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Processed Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Processed Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        64
      ],
      "id": "99163db5-86b9-41a1-9789-9d256f0dd7f6",
      "name": "Copy Processed",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_processed }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2736,
        64
      ],
      "id": "3b75604e-ff08-49aa-b743-92c7a6813546",
      "name": "Get Manager Processed",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move Spreadsheet').item.json.id }}",
          "mode": "id"
        },
        "title": "Processed",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2512,
        64
      ],
      "id": "2cc95a7e-a34c-42dc-ab37-7fcc406f8206",
      "name": "Create Processed Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Error Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Error Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        64
      ],
      "id": "2e5bb132-9f70-4985-b421-d4756dff222b",
      "name": "Copy Error",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        64
      ],
      "id": "0d3d5d7f-6a4b-4b62-a929-1f43df644521",
      "name": "Get Manager Error",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move Spreadsheet').item.json.id }}",
          "mode": "id"
        },
        "title": "Error",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        64
      ],
      "id": "b44d2dc3-a6a5-41eb-b8c7-9b24f523959f",
      "name": "Create Error Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Input Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Input Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        64
      ],
      "id": "28205a18-23a2-408d-b60a-826e68b6b359",
      "name": "Copy Input",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        64
      ],
      "id": "15a71b40-2ab7-4b7c-95c9-4db2cb98768a",
      "name": "Get Manager Input",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy Spreadsheet').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.folder_archive }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        64
      ],
      "id": "814e1b17-5bcd-454d-946d-8e432f813b48",
      "name": "Move Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "name": "={{ String($json.name) + '-' + String($('Set Sub-Workflow & Job').item.json.Job) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        64
      ],
      "id": "f52781f6-d044-431f-ac92-8bdf8553352e",
      "name": "Copy Spreadsheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Set Sub-Workflow & Job').item.json['Sub-Workflow'] }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $vars.folder_kb_system }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        64
      ],
      "id": "cee031ce-6f11-4013-942a-b0dd5e70a083",
      "name": "Search Sub-Workflow",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef50d77-54cc-42a7-9bce-5d0f9bc85cdb",
              "name": "Sub-Workflow",
              "value": "Crawl",
              "type": "string"
            },
            {
              "id": "96c6bfe4-32d1-4899-9f30-04529dd153f8",
              "name": "Job",
              "value": "1001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        64
      ],
      "id": "f001ce81-4568-4450-9b9d-bd20b8bf7298",
      "name": "Set Sub-Workflow & Job"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "22277877-7374-4f32-b63a-067ee18e3fa8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "title": "Input",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        64
      ],
      "id": "c0f7e317-d8f5-47ca-aed1-900e5dfaca89",
      "name": "Create Input Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {},
  "connections": {
    "Get Manager Processed": {
      "main": [
        [
          {
            "node": "Copy Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Processed Sheet": {
      "main": [
        [
          {
            "node": "Get Manager Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Error": {
      "main": [
        [
          {
            "node": "Create Processed Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manager Error": {
      "main": [
        [
          {
            "node": "Copy Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Error Sheet": {
      "main": [
        [
          {
            "node": "Get Manager Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Input": {
      "main": [
        [
          {
            "node": "Create Error Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manager Input": {
      "main": [
        [
          {
            "node": "Copy Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Spreadsheet": {
      "main": [
        [
          {
            "node": "Create Input Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Spreadsheet": {
      "main": [
        [
          {
            "node": "Move Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sub-Workflow": {
      "main": [
        [
          {
            "node": "Copy Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sub-Workflow & Job": {
      "main": [
        [
          {
            "node": "Search Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Sub-Workflow & Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Input Sheet": {
      "main": [
        [
          {
            "node": "Get Manager Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02b69bed-7d7d-46e2-8324-6d788bcf2d74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ced82f3dd62dad32cd39eb1289b45acdf2f6f463c9cc2cacaca667f3bd5cac2"
  },
  "id": "cQYRNHc_fREKQRwnEv89p",
  "tags": []
}