Workflows/Tools/DataPreview.json
{
  "name": "DataPreview",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "612f54bf-a6ab-456e-9437-78eb655d0cb5",
      "name": "Spilt-Out HTML href",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        16,
        160
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=body",
        "extractionValues": {
          "values": [
            {
              "key": "=output",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -208,
        160
      ],
      "id": "b45b347d-7054-4536-b40f-0e4db3a448b5",
      "name": "Extract HTML href",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bcf54a04-dd50-4101-b9d5-6d791ed1fec8",
      "name": "Set Index (Script)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            },
            {
              "id": "1dc4be92-7c3e-42e8-b63e-0a2412d24aae",
              "leftValue": "={{ $json.output }}",
              "rightValue": "#",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "75885219-0bb3-4248-b687-6ca7d165635a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=javascript:void(0);",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53dae73e-24c1-44d7-abfe-830b588684b9",
      "name": "Junk Filter (Script)",
      "type": "n8n-nodes-base.filter",
      "position": [
        240,
        928
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// IMPORTANT:\n// This code relies on the ORDER of items coming from the previous node.\n// The previous node sets or preserves an index to guarantee that order.\n//\n// Why this matters:\n// - The FIRST time we see a value, we keep it\n// - ALL later occurrences are marked as duplicates\n// - If item order changes, the WRONG item may be kept\n//\n// In short: index = priority\n\n// Set used to remember values we have already processed\nconst seen = new Set();\n\n// n8n processes items in array order: items[0], items[1], items[2], etc.\n// The index from the previous node ensures this order is predictable\nreturn items.map(item => {\n\n  // Field used for deduplication\n  // Change 'output' if a different field should define uniqueness\n  const value = item.json.output;\n\n  // If this value has already been seen earlier in the list\n  if (seen.has(value)) {\n\n    // This means another item with the same value\n    // appeared at a LOWER index (higher priority)\n    // → mark this one as a duplicate for removal downstream\n    item.json.duplicate = true;\n\n  } else {\n\n    // This is the FIRST occurrence of this value\n    // Because of the controlled index, this is the\n    // correct item we want to keep\n    item.json.duplicate = false;\n\n    // Store the value so any later items\n    // (higher index = lower priority)\n    // can be flagged as duplicates\n    seen.add(value);\n  }\n\n  // Always return the modified item\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        928
      ],
      "id": "0a3ec422-dd18-4592-8d8f-44b47ce2e876",
      "name": "Set Duplicates (Script)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c65d6d7-1b45-4ec1-aede-461101a9afe6",
              "name": "Source",
              "value": "",
              "type": "string"
            },
            {
              "id": "4f4d5c38-57a2-4fd0-8463-33ddb61be0cc",
              "name": "allowedDomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "c2060c52-34f0-4d6a-a6d5-8ac4e8f22159",
              "name": "allowedSubdomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "b934efd9-d882-4137-b19a-241d05bb1e1f",
              "name": "blockedSubdomains",
              "value": "",
              "type": "string"
            },
            {
              "id": "394c3d2e-0653-44ea-a6ad-31674e07b945",
              "name": "allowedSections",
              "value": "",
              "type": "string"
            },
            {
              "id": "93f19529-d171-4aad-bf9c-7d9feddd9ae2",
              "name": "blockedSections",
              "value": "",
              "type": "string"
            },
            {
              "id": "6e77569e-8d19-4386-88c2-c93095a8c7bc",
              "name": "DataType",
              "value": "^https?:\\/\\/[^\\n]*\\.(?:html?|pdf)\\b[^\\n]*$",
              "type": "string"
            },
            {
              "id": "748d4b14-21d4-481f-abc5-1c7f3941a29a",
              "name": "Batch",
              "value": "10",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        192
      ],
      "id": "b0fae5fc-0c3c-423f-bb07-bafe0e045839",
      "name": "Set Inputs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        192
      ],
      "id": "bf9b89de-6033-4a77-b042-b25458a472d5",
      "name": "Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13fb3683-a7a9-4c09-80f1-b546c56b74fb",
              "name": "Source",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        928
      ],
      "id": "620b7c14-2b25-4447-b783-abfe9fcc0157",
      "name": "Set Source (Script)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3376,
        352
      ],
      "id": "d397b61a-5b40-4866-8b0c-3f1cdb3a49f9",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.scripts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        928
      ],
      "id": "687d1bf2-a10b-491a-9f7a-aa01dceef480",
      "name": "Split-Out Scripts",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/*\n  Rebuild full URLs from partial URLs extracted from HTML.\n\n  Handles:\n  - Absolute URLs: \"https://example.com/x\"\n  - Protocol-relative: \"//example.com/x\"\n  - Root-relative: \"/x\"\n  - Relative with dot segments: \"../x\", \"../../../x\"\n\n  Special case (mount path):\n  If the source page is under a sub-path like:\n    https://example.com/app/content/page.html\n  and a partial URL starts with:\n    /content/other.html\n  then we treat it as:\n    https://example.com/app/content/other.html\n*/\n\n// -------------------- Utility helpers --------------------\n\nfunction stripQuotesAndWhitespace(value) {\n  return String(value ?? \"\")\n    .trim()\n    .replace(/^['\"]+|['\"]+$/g, \"\")\n    .trim();\n}\n\nfunction isLikelyFilePath(url) {\n  try {\n    // If URL() exists, use it (safe)\n    const u = new URL(url);\n    const lastSegment = u.pathname.split(\"/\").filter(Boolean).pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  } catch {\n    // Fallback: simple segment check\n    const lastSegment = String(url)\n      .split(\"?\")[0]\n      .split(\"#\")[0]\n      .split(\"/\")\n      .filter(Boolean)\n      .pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  }\n}\n\nfunction normalizeDoubleSlashes(url) {\n  return String(url).replace(/^(https?:\\/\\/)(.*)$/i, (match, protocol, rest) => {\n    return protocol + rest.replace(/\\/{2,}/g, \"/\");\n  });\n}\n\nfunction addTrailingSlashIfDirectory(url) {\n  if (!url) return url;\n\n  // Trim + remove control chars (e.g., \\r) that can break URL parsing\n  const s = String(url).replace(/[\\u0000-\\u001F\\u007F]/g, \"\").trim();\n  if (!s) return s;\n\n  // Preserve query/hash while deciding about the path\n  const m = s.match(/^([^?#]*)(\\?[^#]*)?(#.*)?$/);\n  const base = m?.[1] ?? s;\n  const query = m?.[2] ?? \"\";\n  const hash  = m?.[3] ?? \"\";\n\n  // Only operate on absolute http(s) URLs; otherwise leave as-is\n  if (!/^https?:\\/\\//i.test(base)) return s;\n\n  // If base is just the origin (no path), force a trailing slash:\n  // https://example.com  -> https://example.com/\n  if (/^https?:\\/\\/[^\\/]+$/i.test(base)) return base + \"/\" + query + hash;\n\n  // If already has trailing slash, keep as-is\n  if (base.endsWith(\"/\")) return base + query + hash;\n\n  // Don't add slash to likely files (extensions)\n  if (isLikelyFilePath(base)) return base + query + hash;\n\n  // Otherwise add trailing slash (directory-like)\n  return base + \"/\" + query + hash;\n}\n\n// Force all absolute http(s) URLs to https\nfunction forceHttps(url) {\n  return String(url).replace(/^http:\\/\\//i, \"https://\");\n}\n\n/*\n  Removes \".\" and \"..\" segments from a path.\n  Example:\n    /a/b/../c  -> /a/c\n*/\nfunction removeDotSegments(path) {\n  const parts = String(path).split(\"/\");\n  const out = [];\n\n  for (const part of parts) {\n    if (part === \"\" || part === \".\") continue;\n    if (part === \"..\") {\n      out.pop();\n      continue;\n    }\n    out.push(part);\n  }\n\n  return \"/\" + out.join(\"/\");\n}\n\n// -------------------- URL resolution logic --------------------\n\nfunction resolveUrl(baseUrl, partialUrl) {\n  const rel = stripQuotesAndWhitespace(partialUrl);\n  const base = forceHttps(stripQuotesAndWhitespace(baseUrl));\n\n  if (!rel) return \"\";\n\n  // Absolute URL\n  if (/^https?:\\/\\//i.test(rel)) return forceHttps(rel);\n\n  // Base must be absolute to resolve properly\n  if (!/^https?:\\/\\//i.test(base)) return rel;\n\n  // Protocol-relative URL: force https\n  if (rel.startsWith(\"//\")) {\n    return \"https:\" + rel;\n  }\n\n  // Extract origin (scheme + host)\n  const origin = base.match(/^(https?:\\/\\/[^\\/]+)/i)?.[1] ?? \"\";\n\n  // Get the base path (no query/hash)\n  const basePath = base\n    .slice(origin.length)\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  // Root-relative path\n  if (rel.startsWith(\"/\")) {\n    // Mount-path heuristic:\n    // If basePath looks like \"/<mount>/<segment>/...\"\n    // and rel starts with \"/<segment>/...\"\n    // then return \"/<mount>\" + rel instead of just rel\n    const relFirst = rel.split(\"/\").filter(Boolean)[0];\n    const baseSegs = basePath.split(\"/\").filter(Boolean);\n\n    if (relFirst && baseSegs.length >= 2 && baseSegs[1] === relFirst) {\n      const mount = baseSegs[0];\n      return origin + \"/\" + mount + rel;\n    }\n\n    return origin + rel;\n  }\n\n  // Relative path (includes \"../\" and \"../../../\")\n  // Resolve it against the directory of the base page:\n  // baseDir = \"/a/b/c/\" if basePath is \"/a/b/c/page.html\"\n  const baseDir = basePath.endsWith(\"/\")\n    ? basePath\n    : basePath.substring(0, basePath.lastIndexOf(\"/\") + 1);\n\n  const combined = baseDir + rel;             // may include ../ segments\n  const cleanedPath = removeDotSegments(combined);\n\n  return origin + cleanedPath;\n}\n\n// -------------------- n8n execution --------------------\n\nreturn items.map((item) => {\n  const partialUrl = stripQuotesAndWhitespace(item.json.partialUrl ?? item.json.url ?? \"\");\n  const sourceUrl = forceHttps(stripQuotesAndWhitespace(item.json.sourceUrl ?? \"\"));\n  const domain = forceHttps(stripQuotesAndWhitespace(item.json.domain ?? \"\"));\n\n  let outputUrl = \"\";\n\n  // Prefer resolving against the full page URL\n  if (partialUrl && sourceUrl) {\n    outputUrl = resolveUrl(sourceUrl, partialUrl);\n  }\n  // Fallback: resolve against a domain if provided\n  else if (partialUrl && domain) {\n    outputUrl = resolveUrl(domain, partialUrl);\n  }\n  // Last resort: return the partial string\n  else {\n    outputUrl = partialUrl;\n  }\n\n  // Normalize and make directory URLs consistent\n  outputUrl = normalizeDoubleSlashes(outputUrl);\n  outputUrl = addTrailingSlashIfDirectory(outputUrl);\n\n  // Final hard stop: do not let http through\n  outputUrl = forceHttps(outputUrl);\n\n  return {\n    json: {\n      ...item.json,\n      output: outputUrl,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        928
      ],
      "id": "a990891c-a4ea-4183-8616-4e464ec51171",
      "name": "Rebuild URL (Script)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4ecb076-ded5-4acd-a40d-32990555ab9a",
              "name": "partialUrl",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "bd313833-de6a-4359-9f1f-b6dcb63cc01d",
              "name": "sourceUrl",
              "value": "={{ $('Browserless').first()?.json?.data?.finalUrl?.url || $('Set Inputs').first().json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        928
      ],
      "id": "756e31d9-42c9-4c0a-b658-763d6b57f4fe",
      "name": "Set Partial\\Source URL (Script)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Source }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8c326d29-c843-4ca7-af58-06df08ddfece"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cca9a8b7-a815-4f13-908c-79a5c3d99b21",
                    "leftValue": "={{ $json.Source }}",
                    "rightValue": "=^https?:\\/\\/(?!.*\\.(pdf|PDF|Pdf)(\\?|$))[^\\s\\/$.?#].[^\\s]*$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1168,
        176
      ],
      "id": "72ba320f-68ef-4f84-8b2e-54de6ad51178",
      "name": "Type Switch"
    },
    {
      "parameters": {
        "html": "={{ $json.data.fullHtml.html }}",
        "destinationKey": "body",
        "options": {
          "ignore": "a,img,nav,header,footer,script,style,form,button,svg"
        }
      },
      "id": "992dc880-0323-414f-ba40-5263cd6ba351",
      "name": "Convert HTML to Markdown (Browserless)",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -656,
        1408
      ],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -656,
        160
      ],
      "id": "f6b6ec0f-00fd-465a-b5ef-e292b265aa71",
      "name": "Extract PDF Data"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "body",
        "options": {
          "ignore": "a,img,nav,header,footer,script,style,form,button,svg"
        }
      },
      "id": "84a85ca8-c9c1-43fd-988e-5e275746898a",
      "name": "Convert HTML to Markdown (HTTP Request)",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -432,
        640
      ],
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// items: [{ json: { data: '...markdown...' } }, ...]\n\nreturn items.map(item => {\n  let md = item.json.body || '';\n\n  // Normalize line endings\n  md = md.replace(/\\r\\n/g, '\\n');\n\n  const navJunkPatterns = [\n    /you are here:/i,\n    /back to top/i,\n    /cookie/i,\n    /privacy policy/i,\n    /terms of (use|service)/i,\n    /all rights reserved/i,\n    /accept cookies/i,\n    /enable javascript/i,\n  ];\n\n  const lines = md.split('\\n');\n  const cleanedLines = [];\n\n  for (let raw of lines) {\n    let line = raw;\n    const trimmed = line.trim();\n\n    // 1. Keep blank lines (we'll collapse later)\n    if (!trimmed) {\n      cleanedLines.push('');\n      continue;\n    }\n\n    // 2. Drop YAML/frontmatter / horizontal rules like \"---\"\n    if (/^---+$/.test(trimmed)) continue;\n\n    // 3. Drop pure punctuation separators (***, ___, etc.)\n    if (/^[\\-\\*_~`]+$/.test(trimmed)) continue;\n\n    // 4. Detect markdown table-ish lines\n    const isTableRow = /^\\s*\\|.*\\|\\s*$/.test(trimmed);\n    const isTableSeparator = /^\\s*\\|?\\s*:?-{2,}.*\\|?\\s*$/.test(trimmed);\n\n    // If it's clearly a table separator row, drop it\n    if (isTableSeparator) continue;\n\n    // Optional: If you want to drop ALL table rows, uncomment:\n    // if (isTableRow) continue;\n\n    // 5. Skip obvious nav/footer/legal junk\n    if (navJunkPatterns.some(re => re.test(trimmed))) continue;\n\n    // 6. Skip tiny non-heading, non-list UI fragments\n    const wordCount = trimmed.split(/\\s+/).length;\n    const isHeadingOrList = /^(#{1,6}\\s|\\* |-|\\d+\\.)/.test(trimmed);\n    if (\n      wordCount <= 3 &&\n      !isHeadingOrList &&\n      !/[.!?]$/.test(trimmed) // not a full sentence\n    ) {\n      // e.g. \"Filter:\", \"Submit Search\", \"Login\"\n      continue;\n    }\n\n    // 7. Normalize internal spacing a bit\n    line = line.replace(/[ \\t]{2,}/g, ' ');\n\n    cleanedLines.push(line);\n  }\n\n  // 8. Collapse multiple blank lines into a single blank line\n  const cleaned = cleanedLines\n    .join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  item.json.cleanedMarkdown = cleaned;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        640
      ],
      "id": "f6f36702-36c0-4de3-872b-9a78230f4229",
      "name": "Clean Markdown (HTTP Request)",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// items: [{ json: { data: '...markdown...' } }, ...]\n\nreturn items.map(item => {\n  let md = item.json.body || '';\n\n  // Normalize line endings\n  md = md.replace(/\\r\\n/g, '\\n');\n\n  const navJunkPatterns = [\n    /you are here:/i,\n    /back to top/i,\n    /cookie/i,\n    /privacy policy/i,\n    /terms of (use|service)/i,\n    /all rights reserved/i,\n    /accept cookies/i,\n    /enable javascript/i,\n  ];\n\n  const lines = md.split('\\n');\n  const cleanedLines = [];\n\n  for (let raw of lines) {\n    let line = raw;\n    const trimmed = line.trim();\n\n    // 1. Keep blank lines (we'll collapse later)\n    if (!trimmed) {\n      cleanedLines.push('');\n      continue;\n    }\n\n    // 2. Drop YAML/frontmatter / horizontal rules like \"---\"\n    if (/^---+$/.test(trimmed)) continue;\n\n    // 3. Drop pure punctuation separators (***, ___, etc.)\n    if (/^[\\-\\*_~`]+$/.test(trimmed)) continue;\n\n    // 4. Detect markdown table-ish lines\n    const isTableRow = /^\\s*\\|.*\\|\\s*$/.test(trimmed);\n    const isTableSeparator = /^\\s*\\|?\\s*:?-{2,}.*\\|?\\s*$/.test(trimmed);\n\n    // If it's clearly a table separator row, drop it\n    if (isTableSeparator) continue;\n\n    // Optional: If you want to drop ALL table rows, uncomment:\n    // if (isTableRow) continue;\n\n    // 5. Skip obvious nav/footer/legal junk\n    if (navJunkPatterns.some(re => re.test(trimmed))) continue;\n\n    // 6. Skip tiny non-heading, non-list UI fragments\n    const wordCount = trimmed.split(/\\s+/).length;\n    const isHeadingOrList = /^(#{1,6}\\s|\\* |-|\\d+\\.)/.test(trimmed);\n    if (\n      wordCount <= 3 &&\n      !isHeadingOrList &&\n      !/[.!?]$/.test(trimmed) // not a full sentence\n    ) {\n      // e.g. \"Filter:\", \"Submit Search\", \"Login\"\n      continue;\n    }\n\n    // 7. Normalize internal spacing a bit\n    line = line.replace(/[ \\t]{2,}/g, ' ');\n\n    cleanedLines.push(line);\n  }\n\n  // 8. Collapse multiple blank lines into a single blank line\n  const cleaned = cleanedLines\n    .join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  item.json.cleanedMarkdown = cleaned;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1408
      ],
      "id": "17b12d44-bc55-4159-b03b-31f7f246e4db",
      "name": "Clean Markdown (Browserless)",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.cleanedMarkdown || \"\";\nconst wordCount = text.trim().split(/\\s+/).filter(Boolean).length;\nreturn [{ json: { wordCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        544
      ],
      "id": "0d611549-af5b-4423-a88d-373f146799c9",
      "name": "Word Count (HTTP Request)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.cleanedMarkdown || \"\";\nconst wordCount = text.trim().split(/\\s+/).filter(Boolean).length;\nreturn [{ json: { wordCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1312
      ],
      "id": "a6185706-247c-46a5-9fe1-c352347fe89b",
      "name": "Word Count (Browserless)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            },
            {
              "id": "1dc4be92-7c3e-42e8-b63e-0a2412d24aae",
              "leftValue": "={{ $json.output }}",
              "rightValue": "#",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f90ef375-4137-492c-be53-727f14bd81fe",
              "leftValue": "={{ $json.output }}",
              "rightValue": "javascript:void(0);",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef6db0ff-a9a8-4855-9d3e-b48eb0ea872f",
      "name": "Junk Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        240,
        160
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b800146a-19ca-4076-b96a-c400a18cad13",
              "name": "body",
              "value": "={{ $('HTTP Request').first()?.json?.data || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        160
      ],
      "id": "8be7091a-0255-440c-84e8-676df550a153",
      "name": "Set Body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc400aac-f870-4b6b-9e28-ad5a2f8a194f",
              "name": "output",
              "value": "={{ $json.cleanedMarkdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        352
      ],
      "id": "d970d24a-ab69-4627-a621-183e314f11cf",
      "name": "HTTP Request (Output)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc400aac-f870-4b6b-9e28-ad5a2f8a194f",
              "name": "output",
              "value": "={{ $json.cleanedMarkdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        1120
      ],
      "id": "adc11217-95bf-45cc-bae1-505a940b6f4a",
      "name": "Browserless (Output)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4ecb076-ded5-4acd-a40d-32990555ab9a",
              "name": "partialUrl",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "bd313833-de6a-4359-9f1f-b6dcb63cc01d",
              "name": "sourceUrl",
              "value": "={{ $('Browserless').first()?.json?.data?.finalUrl?.url || $('Set Inputs').first().json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        160
      ],
      "id": "1d73a05e-7e28-44fb-a3bb-b87c819ccf7d",
      "name": "Set Partial\\Source URL"
    },
    {
      "parameters": {
        "jsCode": "/*\n  Rebuild full URLs from partial URLs extracted from HTML.\n\n  Handles:\n  - Absolute URLs: \"https://example.com/x\"\n  - Protocol-relative: \"//example.com/x\"\n  - Root-relative: \"/x\"\n  - Relative with dot segments: \"../x\", \"../../../x\"\n\n  Special case (mount path):\n  If the source page is under a sub-path like:\n    https://example.com/app/content/page.html\n  and a partial URL starts with:\n    /content/other.html\n  then we treat it as:\n    https://example.com/app/content/other.html\n*/\n\n// -------------------- Utility helpers --------------------\n\nfunction stripQuotesAndWhitespace(value) {\n  return String(value ?? \"\")\n    .trim()\n    .replace(/^['\"]+|['\"]+$/g, \"\")\n    .trim();\n}\n\nfunction isLikelyFilePath(url) {\n  try {\n    // If URL() exists, use it (safe)\n    const u = new URL(url);\n    const lastSegment = u.pathname.split(\"/\").filter(Boolean).pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  } catch {\n    // Fallback: simple segment check\n    const lastSegment = String(url)\n      .split(\"?\")[0]\n      .split(\"#\")[0]\n      .split(\"/\")\n      .filter(Boolean)\n      .pop() || \"\";\n    return /\\.[a-z0-9]{1,6}$/i.test(lastSegment);\n  }\n}\n\nfunction normalizeDoubleSlashes(url) {\n  return String(url).replace(/^(https?:\\/\\/)(.*)$/i, (match, protocol, rest) => {\n    return protocol + rest.replace(/\\/{2,}/g, \"/\");\n  });\n}\n\nfunction addTrailingSlashIfDirectory(url) {\n  if (!url) return url;\n\n  // Trim + remove control chars (e.g., \\r) that can break URL parsing\n  const s = String(url).replace(/[\\u0000-\\u001F\\u007F]/g, \"\").trim();\n  if (!s) return s;\n\n  // Preserve query/hash while deciding about the path\n  const m = s.match(/^([^?#]*)(\\?[^#]*)?(#.*)?$/);\n  const base = m?.[1] ?? s;\n  const query = m?.[2] ?? \"\";\n  const hash  = m?.[3] ?? \"\";\n\n  // Only operate on absolute http(s) URLs; otherwise leave as-is\n  if (!/^https?:\\/\\//i.test(base)) return s;\n\n  // If base is just the origin (no path), force a trailing slash:\n  // https://example.com  -> https://example.com/\n  if (/^https?:\\/\\/[^\\/]+$/i.test(base)) return base + \"/\" + query + hash;\n\n  // If already has trailing slash, keep as-is\n  if (base.endsWith(\"/\")) return base + query + hash;\n\n  // Don't add slash to likely files (extensions)\n  if (isLikelyFilePath(base)) return base + query + hash;\n\n  // Otherwise add trailing slash (directory-like)\n  return base + \"/\" + query + hash;\n}\n\n// Force all absolute http(s) URLs to https\nfunction forceHttps(url) {\n  return String(url).replace(/^http:\\/\\//i, \"https://\");\n}\n\n/*\n  Removes \".\" and \"..\" segments from a path.\n  Example:\n    /a/b/../c  -> /a/c\n*/\nfunction removeDotSegments(path) {\n  const parts = String(path).split(\"/\");\n  const out = [];\n\n  for (const part of parts) {\n    if (part === \"\" || part === \".\") continue;\n    if (part === \"..\") {\n      out.pop();\n      continue;\n    }\n    out.push(part);\n  }\n\n  return \"/\" + out.join(\"/\");\n}\n\n// -------------------- URL resolution logic --------------------\n\nfunction resolveUrl(baseUrl, partialUrl) {\n  const rel = stripQuotesAndWhitespace(partialUrl);\n  const base = forceHttps(stripQuotesAndWhitespace(baseUrl));\n\n  if (!rel) return \"\";\n\n  // Absolute URL\n  if (/^https?:\\/\\//i.test(rel)) return forceHttps(rel);\n\n  // Base must be absolute to resolve properly\n  if (!/^https?:\\/\\//i.test(base)) return rel;\n\n  // Protocol-relative URL: force https\n  if (rel.startsWith(\"//\")) {\n    return \"https:\" + rel;\n  }\n\n  // Extract origin (scheme + host)\n  const origin = base.match(/^(https?:\\/\\/[^\\/]+)/i)?.[1] ?? \"\";\n\n  // Get the base path (no query/hash)\n  const basePath = base\n    .slice(origin.length)\n    .split(\"?\")[0]\n    .split(\"#\")[0];\n\n  // Root-relative path\n  if (rel.startsWith(\"/\")) {\n    // Mount-path heuristic:\n    // If basePath looks like \"/<mount>/<segment>/...\"\n    // and rel starts with \"/<segment>/...\"\n    // then return \"/<mount>\" + rel instead of just rel\n    const relFirst = rel.split(\"/\").filter(Boolean)[0];\n    const baseSegs = basePath.split(\"/\").filter(Boolean);\n\n    if (relFirst && baseSegs.length >= 2 && baseSegs[1] === relFirst) {\n      const mount = baseSegs[0];\n      return origin + \"/\" + mount + rel;\n    }\n\n    return origin + rel;\n  }\n\n  // Relative path (includes \"../\" and \"../../../\")\n  // Resolve it against the directory of the base page:\n  // baseDir = \"/a/b/c/\" if basePath is \"/a/b/c/page.html\"\n  const baseDir = basePath.endsWith(\"/\")\n    ? basePath\n    : basePath.substring(0, basePath.lastIndexOf(\"/\") + 1);\n\n  const combined = baseDir + rel;             // may include ../ segments\n  const cleanedPath = removeDotSegments(combined);\n\n  return origin + cleanedPath;\n}\n\n// -------------------- n8n execution --------------------\n\nreturn items.map((item) => {\n  const partialUrl = stripQuotesAndWhitespace(item.json.partialUrl ?? item.json.url ?? \"\");\n  const sourceUrl = forceHttps(stripQuotesAndWhitespace(item.json.sourceUrl ?? \"\"));\n  const domain = forceHttps(stripQuotesAndWhitespace(item.json.domain ?? \"\"));\n\n  let outputUrl = \"\";\n\n  // Prefer resolving against the full page URL\n  if (partialUrl && sourceUrl) {\n    outputUrl = resolveUrl(sourceUrl, partialUrl);\n  }\n  // Fallback: resolve against a domain if provided\n  else if (partialUrl && domain) {\n    outputUrl = resolveUrl(domain, partialUrl);\n  }\n  // Last resort: return the partial string\n  else {\n    outputUrl = partialUrl;\n  }\n\n  // Normalize and make directory URLs consistent\n  outputUrl = normalizeDoubleSlashes(outputUrl);\n  outputUrl = addTrailingSlashIfDirectory(outputUrl);\n\n  // Final hard stop: do not let http through\n  outputUrl = forceHttps(outputUrl);\n\n  return {\n    json: {\n      ...item.json,\n      output: outputUrl,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        160
      ],
      "id": "1c106210-e7ab-493d-9b4a-e4e973839b0f",
      "name": "Rebuild URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{ $json.output }}",
              "rightValue": "={{ $(\"Set Inputs\").all()[0].json.DataType }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "9b8315c2-8375-4cd1-b3b8-8c27a961b05a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "^https?:\\/\\/[^/\\n]+(?!.*\\/[^?\\n#]*\\.[A-Za-z0-9]{2,6}(?:[?#]|$))[^\\n]*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        928
      ],
      "id": "917598ed-9615-48b0-b0ff-c0614b468499",
      "name": "Data Type Filter (Script)"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n *\n * Purpose:\n * - Extract likely human-facing page paths from text (item.json.body)\n * - Filter out assets, APIs, tracking, and plumbing URLs\n * - Output one item per valid page path\n */\n\nconst items = $input.all();\nconst output = [];\n\n/**\n * ===============================\n * REGEX DEFINITIONS\n * ===============================\n */\n\n// Find URL-like strings in text\nconst CANDIDATE_RE =\n  /(?:(?:\"|')((?:https?:\\/\\/|\\/\\/|\\/|\\.{1,2}\\/)[^\"' \\t\\r\\n<>]+)(?:\"|'))|((?:https?:\\/\\/|\\/\\/|\\/|\\.{1,2}\\/)[^\\s\"'<>]+)/g;\n\n// Accept .html / .htm pages\nconst PAGE_EXT = /\\.(?:html?)(?:[?#]|$)/i;\n\n// Reject static assets\nconst STATIC_ASSET_EXT =\n  /\\.(?:js|mjs|cjs|css|map|png|jpe?g|gif|svg|webp|ico|pdf|zip|gz|tar|rar|7z|mp4|mp3|wav|webm|woff2?|ttf|eot)(?:[?#]|$)/i;\n\n// Reject numeric-only paths\nconst NUMERIC_PATH = /^\\/\\d+(?:\\/\\d+)*\\/?$/;\n\n// Reject code-like fragments\nconst CODE_SMELL = /[\\[\\]\\(\\)\\{\\}\\\\\\^\\$|]|\\\\[dDsSwWbBuxpP]/;\n\n// Reject APIs, auth, static dirs, internal routes\nconst HARD_REJECT =\n  /(?:^|\\/)(api|apis|service|services|asmx|svc|wsdl|graphql|rest|rpc|oauth|auth|signin|login|logout|token|session|callback|webhook|debug|health|status|metrics|internal|admin|plugins?|scripts?|assets?|static|cdn|media|img|images|fonts?|css|js|ccm|form-data|upload|download)(?:\\/|$)/i;\n\n// Reject analytics / tracking keywords\nconst TRACKING_KEYWORDS =\n  /(?:^|[\\/?#])(adserver|ads|adservice|adserving|adtrack|adtracking|affiliates?|beacon|banners?|click|clicktrack|clickthrough|clk|conv|conversion|conversions|convert|cvt|collect|collector|event|events|eventhub|eventtrack|eventtracking|impression|impressions|pixel|pixels|tag|tags|tagging|tracker|trackers|tracking|telemetry|analytics|measurement|metrics|stats|stat|log|logger|logging|gtag|gtm|googletagmanager|google-analytics|ga4|urchin|gen_204|doubleclick|ddm|floodlight|activity|fb|facebook|fbevents|meta|mp|tr|pixel_id|tiktok|ttq|snap|snapchat|pinterest|pintrk|linkedin|licdn|insight|segment|analyticsjs|amplitude|mixpanel|mparticle|heap|hotjar|fullstory|clarity)(?:[\\/?#]|$)/i;\n\n// Reject known tracking path shapes\nconst TRACKING_SHAPES =\n  /(?:^|\\/)(ddm\\/activity|g\\/collect|collect$|pagead\\/|gtag\\/js|tr\\/|pixel\\/)(?:[\\/?#]|$)/i;\n\n// Explicit Google Ads reject\nconst PAGEAD_REJECT = /(?:^|\\/)pagead(?:\\/|$)/i;\n\n// Reject versioned API routes\nconst VERSIONED_API_REJECT =\n  /^\\/(?:v\\d+|gm\\/v\\d+|mms\\/v\\d+|ctx\\/v\\d+)(?:\\/|$)/i;\n\n// Reject consent / config / ad plumbing\nconst PLUMBING_REJECT =\n  /(?:^|\\/)(consent|privacy-manager|vendor-list|choice|consent-status|meta-data|tcfv2|wrapper|openrtb2?|auction|usync|authorize|keys|messages|configuration|config|signals|targeting|schain|bid|ids|get-treatments|treatments|auxia|sampling|record|toolbox|marker|init|listeners|prepend|store)(?:\\/|$)/i;\n\n// Reject noisy protocol-relative hosts\nconst NOISE_HOST_RE =\n  /^\\/\\/(?:c\\.amazon-adsystem\\.com|ep\\d+\\.adtrafficquality\\.google)\\//i;\n\n/**\n * ===============================\n * HELPER FUNCTIONS\n * ===============================\n */\n\nfunction normalize(s) {\n  // Strip punctuation that sticks to URLs\n  return s.replace(/[),.;:!?`]+$/, \"\").replace(/\\\\+\"?$/, \"\");\n}\n\nfunction isPathOrProtocolRelative(s) {\n  return (\n    s.startsWith(\"/\") ||\n    s.startsWith(\"./\") ||\n    s.startsWith(\"../\") ||\n    s.startsWith(\"//\")\n  );\n}\n\n// Allow human-friendly URLs without .html\nfunction looksLikePrettyContent(s) {\n  if (!/^\\/[a-z0-9][a-z0-9-]+\\/[a-z0-9][a-z0-9-]+/i.test(s)) return false;\n  if (/[A-Z_+=]/.test(s)) return false;\n  if (/\\.[a-z0-9]{1,6}(?:[?#]|$)/i.test(s) && !PAGE_EXT.test(s)) return false;\n  return true;\n}\n\n/**\n * ===============================\n * MAIN LOOP\n * ===============================\n */\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const text = item.json?.body;\n\n  // Skip items without text\n  if (!text) continue;\n\n  // Prevent duplicates per input item\n  const seen = new Set();\n\n  // Reset regex cursor (important!)\n  CANDIDATE_RE.lastIndex = 0;\n\n  let match;\n  while ((match = CANDIDATE_RE.exec(text)) !== null) {\n    const candidate = normalize(match[1] || match[2]);\n\n    if (!candidate) continue;\n    if (!isPathOrProtocolRelative(candidate)) continue;\n    if (NOISE_HOST_RE.test(candidate)) continue;\n\n    // Filter junk\n    if (STATIC_ASSET_EXT.test(candidate)) continue;\n    if (NUMERIC_PATH.test(candidate)) continue;\n    if (CODE_SMELL.test(candidate)) continue;\n    if (HARD_REJECT.test(candidate)) continue;\n    if (PAGEAD_REJECT.test(candidate)) continue;\n    if (TRACKING_SHAPES.test(candidate)) continue;\n    if (TRACKING_KEYWORDS.test(candidate)) continue;\n    if (VERSIONED_API_REJECT.test(candidate)) continue;\n    if (PLUMBING_REJECT.test(candidate)) continue;\n\n    // Keep only human pages\n    if (!PAGE_EXT.test(candidate) && !looksLikePrettyContent(candidate)) continue;\n\n    // De-dupe\n    if (seen.has(candidate)) continue;\n    seen.add(candidate);\n\n    // Output item (clean schema)\n    output.push({\n      json: {\n        output: candidate,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        928
      ],
      "id": "94d2e0df-b9f5-4772-a4a1-17345d10591d",
      "name": "Extract Partial URLs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4abba09e-d524-498a-afc3-2c9681fdd7a9",
      "name": "Set Index",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// IMPORTANT:\n// This code relies on the ORDER of items coming from the previous node.\n// The previous node sets or preserves an index to guarantee that order.\n//\n// Why this matters:\n// - The FIRST time we see a value, we keep it\n// - ALL later occurrences are marked as duplicates\n// - If item order changes, the WRONG item may be kept\n//\n// In short: index = priority\n\n// Set used to remember values we have already processed\nconst seen = new Set();\n\n// n8n processes items in array order: items[0], items[1], items[2], etc.\n// The index from the previous node ensures this order is predictable\nreturn items.map(item => {\n\n  // Field used for deduplication\n  // Change 'output' if a different field should define uniqueness\n  const value = item.json.output;\n\n  // If this value has already been seen earlier in the list\n  if (seen.has(value)) {\n\n    // This means another item with the same value\n    // appeared at a LOWER index (higher priority)\n    // → mark this one as a duplicate for removal downstream\n    item.json.duplicate = true;\n\n  } else {\n\n    // This is the FIRST occurrence of this value\n    // Because of the controlled index, this is the\n    // correct item we want to keep\n    item.json.duplicate = false;\n\n    // Store the value so any later items\n    // (higher index = lower priority)\n    // can be flagged as duplicates\n    seen.add(value);\n  }\n\n  // Always return the modified item\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        160
      ],
      "id": "02b6f6d8-ba30-4073-8db7-0ce80ed5dd25",
      "name": "Set Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81e093d9-dde8-4234-8624-116022c81d48",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        160
      ],
      "id": "0112430f-588e-4ad7-ac79-d168af13a42d",
      "name": "Are Duplicate URLs?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{ $json.output }}",
              "rightValue": "={{ $(\"Set Inputs\").all()[0].json.DataType }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "9b8315c2-8375-4cd1-b3b8-8c27a961b05a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "^https?:\\/\\/[^/\\n]+(?!.*\\/[^?\\n#]*\\.[A-Za-z0-9]{2,6}(?:[?#]|$))[^\\n]*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        160
      ],
      "id": "a780094a-20c7-43a9-940b-c9cc27a42d07",
      "name": "Data Type Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{\n  Boolean((() => {\n    const srcRaw = (($json.output || '') + '').trim().toLowerCase();\n    if (!srcRaw) return false;\n\n    const parseHostPath = (s) => {\n      s = (s || '').trim().toLowerCase();\n      if (!s) return null;\n\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n\n      const parts = s.split('/');\n      const host = (parts.shift() || '').replace(/\\.$/, '');\n      let path = '/' + parts.join('/');\n\n      if (path === '/') path = '';\n      path = path.replace(/\\/+$/, '');\n\n      return host ? { host, path } : null;\n    };\n\n    const src = parseHostPath(srcRaw);\n    if (!src) return false;\n\n    const allowedRaw = (($('Set Inputs').first().json.allowedDomains || '') + '')\n      .split(',')\n      .map(s => s.trim())\n      .filter(Boolean);\n\n    // allow all if empty\n    if (allowedRaw.length === 0) return true;\n\n    const allowed = allowedRaw\n      .map(parseHostPath)\n      .filter(Boolean);\n\n    const hostMatches = (srcHost, allowedHost) =>\n      srcHost === allowedHost || srcHost.endsWith('.' + allowedHost);\n\n    return allowed.some(a => {\n      if (!hostMatches(src.host, a.host)) return false;\n      if (!a.path) return true;\n      return src.path === a.path || src.path.startsWith(a.path + '/');\n    });\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.allowedDomains }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "709b6e78-9034-4a46-b893-7b059203ec95",
              "leftValue": "={{\n  Boolean((() => {\n    const inputs = $('Set Inputs').first().json || {};\n\n    const normalizeHost = (s) => {\n      s = ('' + (s || '')).trim().toLowerCase();\n      if (!s) return '';\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n      let host = (s.split('/')[0] || '').replace(/\\.$/, '');\n      if (host.startsWith('www.')) host = host.slice(4);\n      return host;\n    };\n\n    const parseHosts = (v) =>\n      ('' + (v || ''))\n        .split(',')\n        .map(x => normalizeHost(x))\n        .filter(Boolean);\n\n    const srcHost = normalizeHost($json.output);\n    if (!srcHost) return false;\n\n    const allowedSub = parseHosts(inputs.allowedSubdomains);\n    const blockedSub = parseHosts(inputs.blockedSubdomains);\n\n    // 1) allowedSubdomains is a HARD allowlist if set\n    if (allowedSub.length > 0 && !allowedSub.includes(srcHost)) return false;\n\n    // 2) blocklist always applies (override deny)\n    if (blockedSub.length > 0 && blockedSub.includes(srcHost)) return false;\n\n    return true;\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4def533f-676a-4476-9caf-2604895386e9",
              "leftValue": "={{\n  Boolean((() => {\n    const src = ('' + ($json.output || '')).toLowerCase();\n    if (!src) return false;\n\n    const parse = v =>\n      ('' + (v || ''))\n        .split(',')\n        .map(s => s.trim().toLowerCase())\n        .filter(Boolean);\n\n    const allowed = parse($('Set Inputs').first().json.allowedSections);\n    const blocked = parse($('Set Inputs').first().json.blockedSections);\n\n    // Match section as:\n    //  - \"/section/\" anywhere (directory)\n    //  - \"/section-<something>/\" anywhere (hyphenated directory)\n    // NOT filenames like \"/section-thing.htm\"\n    const matches = (section) => {\n      const re = new RegExp(`/${section}(?:/|-[^/]+/)`);\n      return re.test(src);\n    };\n\n    // 1) blocklist wins\n    if (blocked.some(matches)) return false;\n\n    // 2) no allowlist => allow\n    if (allowed.length === 0) return true;\n\n    // 3) otherwise must match allowlist\n    return allowed.some(matches);\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.Language }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        160
      ],
      "id": "9eb2622f-6802-4016-b2b7-16fe98529c7b",
      "name": "Domain Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13fb3683-a7a9-4c09-80f1-b546c56b74fb",
              "name": "Source",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        160
      ],
      "id": "c60beb7e-4486-4581-b21c-4ca49e7021c1",
      "name": "Set Source"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Source",
              "field2": "Source"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        2928,
        320
      ],
      "id": "1bfb6045-b380-4103-8e29-ad8e74544d74",
      "name": "Compare",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3152,
        320
      ],
      "id": "7ad1f34b-ab96-4c75-a142-64cd3846ac32",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81e093d9-dde8-4234-8624-116022c81d48",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        928
      ],
      "id": "8671c6c5-39e9-410f-af4f-e8f5e71ef791",
      "name": "Are Duplicate URLs? (Script)"
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').all()[0].json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": "={{ $(\"Set Inputs\").all()[0].json.Batch }}"
            }
          },
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 120000
        }
      },
      "id": "cb9e4ea6-14f0-43ac-be3e-4fa6e45c567d",
      "name": "Check URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2256,
        160
      ],
      "typeVersion": 4.2,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').all()[0].json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": "={{ $(\"Set Inputs\").all()[0].json.Batch }}"
            }
          },
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 120000
        }
      },
      "id": "70e52002-c7c2-4c55-9413-577eeb55e7c1",
      "name": "Check URL (Script)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2256,
        928
      ],
      "typeVersion": 4.2,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Set Inputs').item.json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').item.json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        160
      ],
      "id": "1eb6f87a-eccc-4b5f-a285-e200aa2ec668",
      "name": "PDF Binary",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Set Inputs').item.json.Source }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "={{ $('Set Inputs').item.json.Source.split('/').slice(0,3).join('/') + '/' }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 120000
        }
      },
      "id": "a4e9b508-541f-4e30-9bda-9a0e86178ea6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -656,
        352
      ],
      "typeVersion": 4.2,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production-sfo.browserless.io/chrome/bql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation GrabTOCAndHTMLWithURL {\n  goto(url: \"{{ $('Set Inputs').item.json.Source }}\", waitUntil: networkIdle) {\n    status\n    url\n  }\n\n  pause: waitForTimeout(time: 1500) {\n    time\n  }\n\n  # Capture the main HTML document response + headers\n  documentResponse: response(type: [document], wait: false) {\n    url\n    status\n    headers {\n      name\n      value\n    }\n  }\n\n  # Capture JavaScript responses + headers\n  scripts: response(type: [script], wait: false) {\n    url\n    headers {\n      name\n      value\n    }\n    body\n  }\n\n  finalUrl: url {\n    url\n  }\n\n  fullHtml: html {\n    html\n  }\n}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        880
      ],
      "id": "ceeee189-8e0e-48b4-be1a-9a8fd0593e2c",
      "name": "Browserless",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19318db4-68b4-4f0a-beef-37900ac8eba0",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        928
      ],
      "id": "324a72f3-96fa-44e4-91e0-63fe29135ddd",
      "name": "Status 200 (Script)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e97a7f84-b694-40b8-a74c-dd80598e77f9",
              "name": "Source",
              "value": "={{ $('Set Source (Script)').item.json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        640
      ],
      "id": "43dbcde2-c32d-4d3c-9f39-597aed195f0a",
      "name": "TRUE (Script)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e97a7f84-b694-40b8-a74c-dd80598e77f9",
              "name": "Source",
              "value": "={{ $('Set Source (Script)').item.json.Source }}",
              "type": "string"
            },
            {
              "id": "69947116-2f5d-4ba9-98b0-e5d11bf4bcf3",
              "name": "Status",
              "value": "={{ $json.statusCode }}{{ $json.error.message }}{{ $json.error.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        1024
      ],
      "id": "915407ce-e62f-4647-93c0-ebf930ffce96",
      "name": "FALSE (Script)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19318db4-68b4-4f0a-beef-37900ac8eba0",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        160
      ],
      "id": "d01b8177-d1e1-4f19-91e3-26158bbadc93",
      "name": "Status 200",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e97a7f84-b694-40b8-a74c-dd80598e77f9",
              "name": "Source",
              "value": "={{ $('Set Source').item.json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        64
      ],
      "id": "2b77ed28-a505-4f47-b9bb-2ca01a531c5d",
      "name": "TRUE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e97a7f84-b694-40b8-a74c-dd80598e77f9",
              "name": "Source",
              "value": "={{ $('Set Source').item.json.Source }}",
              "type": "string"
            },
            {
              "id": "69947116-2f5d-4ba9-98b0-e5d11bf4bcf3",
              "name": "Status",
              "value": "={{ $json.statusCode }}{{ $json.error.message }}{{ $json.error.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        448
      ],
      "id": "1d682610-970a-4bdc-aaa4-4478e2a7235c",
      "name": "FALSE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d42b9e7-d1e2-486a-9728-48837dfbddb2",
              "name": "Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        352
      ],
      "id": "26c3e127-dfb3-4035-b184-31e961ef2e02",
      "name": "Output"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nCreate Generic Credential\nType: Query Auth\nName: token\nYour Browserless API Key",
        "height": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        880
      ],
      "id": "efb498c0-8a0c-4c47-994b-ecc4e547d6d8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a901e90d-8063-48f6-89b1-79c4da0d62d6",
              "leftValue": "={{\n  Boolean((() => {\n    const srcRaw = (($json.output || '') + '').trim().toLowerCase();\n    if (!srcRaw) return false;\n\n    const parseHostPath = (s) => {\n      s = (s || '').trim().toLowerCase();\n      if (!s) return null;\n\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n\n      const parts = s.split('/');\n      const host = (parts.shift() || '').replace(/\\.$/, '');\n      let path = '/' + parts.join('/');\n\n      if (path === '/') path = '';\n      path = path.replace(/\\/+$/, '');\n\n      return host ? { host, path } : null;\n    };\n\n    const src = parseHostPath(srcRaw);\n    if (!src) return false;\n\n    const allowedRaw = (($('Set Inputs').first().json.allowedDomains || '') + '')\n      .split(',')\n      .map(s => s.trim())\n      .filter(Boolean);\n\n    // allow all if empty\n    if (allowedRaw.length === 0) return true;\n\n    const allowed = allowedRaw\n      .map(parseHostPath)\n      .filter(Boolean);\n\n    const hostMatches = (srcHost, allowedHost) =>\n      srcHost === allowedHost || srcHost.endsWith('.' + allowedHost);\n\n    return allowed.some(a => {\n      if (!hostMatches(src.host, a.host)) return false;\n      if (!a.path) return true;\n      return src.path === a.path || src.path.startsWith(a.path + '/');\n    });\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.allowedDomains }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "709b6e78-9034-4a46-b893-7b059203ec95",
              "leftValue": "={{\n  Boolean((() => {\n    const inputs = $('Set Inputs').first().json || {};\n\n    const normalizeHost = (s) => {\n      s = ('' + (s || '')).trim().toLowerCase();\n      if (!s) return '';\n      s = s.replace(/^https?:\\/\\//, '');\n      s = s.split('#')[0].split('?')[0];\n      let host = (s.split('/')[0] || '').replace(/\\.$/, '');\n      if (host.startsWith('www.')) host = host.slice(4);\n      return host;\n    };\n\n    const parseHosts = (v) =>\n      ('' + (v || ''))\n        .split(',')\n        .map(x => normalizeHost(x))\n        .filter(Boolean);\n\n    const srcHost = normalizeHost($json.output);\n    if (!srcHost) return false;\n\n    const allowedSub = parseHosts(inputs.allowedSubdomains);\n    const blockedSub = parseHosts(inputs.blockedSubdomains);\n\n    // 1) allowedSubdomains is a HARD allowlist if set\n    if (allowedSub.length > 0 && !allowedSub.includes(srcHost)) return false;\n\n    // 2) blocklist always applies (override deny)\n    if (blockedSub.length > 0 && blockedSub.includes(srcHost)) return false;\n\n    return true;\n  })())\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4def533f-676a-4476-9caf-2604895386e9",
              "leftValue": "={{\n  Boolean((() => {\n    const src = ('' + ($json.output || '')).toLowerCase();\n    if (!src) return false;\n\n    const parse = v =>\n      ('' + (v || ''))\n        .split(',')\n        .map(s => s.trim().toLowerCase())\n        .filter(Boolean);\n\n    const allowed = parse($('Set Inputs').first().json.allowedSections);\n    const blocked = parse($('Set Inputs').first().json.blockedSections);\n\n    // Match section as:\n    //  - \"/section/\" anywhere (directory)\n    //  - \"/section-<something>/\" anywhere (hyphenated directory)\n    // NOT filenames like \"/section-thing.htm\"\n    const matches = (section) => {\n      const re = new RegExp(`/${section}(?:/|-[^/]+/)`);\n      return re.test(src);\n    };\n\n    // 1) blocklist wins\n    if (blocked.some(matches)) return false;\n\n    // 2) no allowlist => allow\n    if (allowed.length === 0) return true;\n\n    // 3) otherwise must match allowlist\n    return allowed.some(matches);\n  })())\n}}",
              "rightValue": "={{ $('Set Inputs').first().json.Language }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        928
      ],
      "id": "153867a2-cb85-4af2-a8b0-1e08be381819",
      "name": "Domain Filter (Script)"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nallowedDomains\nOnly crawl URLs from specified root domains.\nhttps://ready.gov/\n→ ready.gov, fema.gov,\n\nallowedSubdomains\nOnly crawl specific subdomains (instead of all).\nhttps://nasa.gov/\n→ science.nasa.gov, nasa.gov,\n\nblockedSubdomains\nCrawl all subdomains except those listed.\nhttps://nasa.gov/\n→ plus.nasa.gov\n\nallowedSections\nOnly crawl URLs containing specified path segments.\nhttps://nps.gov/subjects/fossils/\n→ fossils, articles\n\nblockedSections\nCrawl all sections except those containing specified path segments.\nhttps://ready.gov/\n→ ar,es,fr,ht,ja,ko,ru,tl,vi,zh-hans,hi,pt-br,\n\ndataTypes\nRegex filter for allowed file types.\ne.g., allow: HTML, PDF (customizable)\n\nBatch\nBatch size for HTTP Request Nodes",
        "height": 944,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        192
      ],
      "id": "9726e7bf-b6c3-4eb4-8a86-f612064ad9cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## DataPreview\nSimulates a crawl + scrape to show what URLs and content would be collected before a full run.\nThere are multiple filters available in the Sets Inputs node to help refine what data is collected during a run.\n",
        "height": 112,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1712,
        16
      ],
      "id": "ee7a4d4c-c08d-419b-b30b-208ec4f599f6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## HTTP Path\n\nUses a standard HTTP request to fetch the page.\n\nShows:\n• Extracted URLs\n• Full Markdown output of the page\n• Word count (for content comparison)\n\nRepresents what a typical crawler sees without JavaScript rendering.",
        "height": 224,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        464
      ],
      "id": "62a934a9-5294-464f-8954-e9ff6078a7c8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Browserless Path (Optional)\n\nRenders the page in a headless browser environment.\n\nCan detect:\n• JavaScript-rendered content\n• Hidden interactive text\n• Dynamically injected links\n\nShows:\n• Extracted URLs\n• Full Markdown output\n• Word count (compare against HTTP path)\n\nUseful for identifying content missed by standard requests.",
        "height": 336,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        1216
      ],
      "id": "8982cc18-cd2d-4b50-85a0-1bfd8936d120",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Duplicate Detection\n\nIdentifies duplicate URLs found during extraction.\n\nHelps:\n• Prevent redundant crawling\n• Reduce unnecessary scraping\n• Keep final dataset clean\n\nDuplicates are flagged before final merge.",
        "height": 240,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -192
      ],
      "id": "fde29259-7970-4af2-9a13-865947d939fc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Filters\n\nApplies the same rules as the Crawl workflow:\n\n• Domain filters\n• Subdomain filters\n• Section (path) filters\n• Data type filters\n\nEnsures preview results match real crawl behavior.",
        "height": 240,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        -192
      ],
      "id": "4d54c7b1-b2d6-4cae-9995-50faa6e72ce8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## URL Validation (HEAD Check)\n\nEach discovered URL is validated using a HEAD request (not GET).\n\nPurpose:\n• Confirm URL is active\n• Detect 403 bot protection\n• Avoid unnecessary full requests\n\nLightweight and fast validation step.",
        "height": 224,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        -176
      ],
      "id": "a21ad1b8-2186-4e22-b596-c12c96fb141d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Comparison\n\nCompares URLs found via:\n\n• HTTP path\n• Browserless path\n\nHighlights URLs found only through browser rendering.\n\nHelps determine if Browserless adds meaningful coverage.",
        "height": 224,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -48
      ],
      "id": "f9bb225e-1f77-42c0-be29-4dfd9a62336c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Final Output\n\nMerges HTTP + Browserless results.\n\n• Removes duplicates\n• Outputs validated URLs\n• Shows final content preview",
        "height": 192,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3808,
        288
      ],
      "id": "ae48003d-3339-408a-b448-6f9e70efe021",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## PDF Preview\n\nIf a URL points to a PDF file, it is routed to a separate extraction path.\n\n• Extracts raw text from the PDF\n• Previews the extracted content\n\nAllows users to confirm that PDF content can be successfully read before running a full workflow.",
        "height": 240,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -176
      ],
      "id": "4d80ab79-a466-460b-bd7d-771e22540e94",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.data }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -432,
        352
      ],
      "id": "b64d247f-baee-490f-b360-3071ad4af005",
      "name": "HTML Hash"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.data.fullHtml.html }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -528,
        1104
      ],
      "id": "cc491af7-28a9-4f1f-881f-82406b6e7bd8",
      "name": "HTML Hash (Browserless)"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.cleanedMarkdown }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -208,
        1504
      ],
      "id": "d625e795-f1e6-443b-9d37-78b8f456dfe8",
      "name": "Markdown Hash (Browserless)"
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.cleanedMarkdown }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        16,
        736
      ],
      "id": "9690e679-d494-42da-819a-de3b65509d71",
      "name": "Markdown Hash"
    }
  ],
  "pinData": {},
  "connections": {
    "Spilt-Out HTML href": {
      "main": [
        [
          {
            "node": "Junk Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML href": {
      "main": [
        [
          {
            "node": "Spilt-Out HTML href",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Index (Script)": {
      "main": [
        [
          {
            "node": "Set Duplicates (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junk Filter (Script)": {
      "main": [
        [
          {
            "node": "Set Partial\\Source URL (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Duplicates (Script)": {
      "main": [
        [
          {
            "node": "Are Duplicate URLs? (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source (Script)": {
      "main": [
        [
          {
            "node": "Check URL (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split-Out Scripts": {
      "main": [
        [
          {
            "node": "Extract Partial URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild URL (Script)": {
      "main": [
        [
          {
            "node": "Set Index (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Partial\\Source URL (Script)": {
      "main": [
        [
          {
            "node": "Rebuild URL (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Switch": {
      "main": [
        [
          {
            "node": "PDF Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown (Browserless)": {
      "main": [
        [
          {
            "node": "Clean Markdown (Browserless)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown (HTTP Request)": {
      "main": [
        [
          {
            "node": "Clean Markdown (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Markdown (HTTP Request)": {
      "main": [
        [
          {
            "node": "HTTP Request (Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Word Count (HTTP Request)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Markdown (Browserless)": {
      "main": [
        [
          {
            "node": "Browserless (Output)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Word Count (Browserless)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown Hash (Browserless)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junk Filter": {
      "main": [
        [
          {
            "node": "Set Partial\\Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Body": {
      "main": [
        [
          {
            "node": "Extract HTML href",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Partial\\Source URL": {
      "main": [
        [
          {
            "node": "Rebuild URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild URL": {
      "main": [
        [
          {
            "node": "Set Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Type Filter (Script)": {
      "main": [
        [
          {
            "node": "Domain Filter (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Partial URLs": {
      "main": [
        [
          {
            "node": "Junk Filter (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Index": {
      "main": [
        [
          {
            "node": "Set Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Duplicates": {
      "main": [
        [
          {
            "node": "Are Duplicate URLs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Duplicate URLs?": {
      "main": [
        [],
        [
          {
            "node": "Data Type Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Type Filter": {
      "main": [
        [
          {
            "node": "Domain Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Filter": {
      "main": [
        [
          {
            "node": "Set Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source": {
      "main": [
        [
          {
            "node": "Check URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Duplicate URLs? (Script)": {
      "main": [
        [],
        [
          {
            "node": "Data Type Filter (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL": {
      "main": [
        [
          {
            "node": "Status 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL (Script)": {
      "main": [
        [
          {
            "node": "Status 200 (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert HTML to Markdown (HTTP Request)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert HTML to Markdown (Browserless)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split-Out Scripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Hash (Browserless)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 200 (Script)": {
      "main": [
        [
          {
            "node": "TRUE (Script)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALSE (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 200": {
      "main": [
        [
          {
            "node": "TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRUE": {
      "main": [
        [
          {
            "node": "Compare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRUE (Script)": {
      "main": [
        [
          {
            "node": "Compare",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Domain Filter (Script)": {
      "main": [
        [
          {
            "node": "Set Source (Script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "556389c4-5327-494c-9e6f-786a6f5be4c6",
  "meta": {
    "instanceId": "e90f7f7e6a26b85872ce66ded5d7910e921575d60b70d6a45b57c87eb5310c2c"
  },
  "id": "p1SVKKJAalzYT0oE",
  "tags": []
}