Workflows/Tools/InputManagement.json
{
  "name": "InputManagement",
  "nodes": [
    {
      "parameters": {
        "content": "## Input Management\nThis workflow copies Output from a previous sub-workflow for use as Input.\nRequires the sub-workflow name to be set (e.g., Crawl ->, Scrape, Scrape -> Upsert, Upsert -> Update).",
        "height": 96,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "1b5e2874-3fa9-41b8-b512-72edadef7565",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nSubworkflow\n(Crawl, Scrape, Upsert, ..)",
        "height": 208,
        "width": 230,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        352
      ],
      "id": "dee8b362-04a4-41fe-ac6c-2f112d87112a",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        256
      ],
      "id": "e67808d4-35ab-4679-bda2-c1b2f9ab2c12",
      "name": "Copy Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Output",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        256
      ],
      "id": "e036f3d9-e5c8-4ac1-bd95-4836dd020190",
      "name": "Get Output",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef50d77-54cc-42a7-9bce-5d0f9bc85cdb",
              "name": "Sub-Workflow",
              "value": "Crawl",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        352
      ],
      "id": "f528e68e-4dcb-4bf1-a8ea-4ab9cab01c95",
      "name": "Set Sub-Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        352
      ],
      "id": "253980e2-68eb-4bcd-8490-f910e16efd3b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        352
      ],
      "id": "ee865ca2-d803-4a57-a805-37628850e7a6",
      "name": "Clear Input",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_error }}",
          "mode": "id"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        352
      ],
      "id": "c058594a-0b84-4879-899e-bc6114dcecdd",
      "name": "Clear Error",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_processed }}",
          "mode": "id"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        352
      ],
      "id": "dde8d855-3790-4d0e-bc29-63df7b462d73",
      "name": "Clear Processed",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Set Sub-Workflow').item.json['Sub-Workflow'] }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $vars.folder_kb_system }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        352
      ],
      "id": "209692ea-56cb-4b4b-b3a0-915e8f211174",
      "name": "Search Sub-Workflow",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Different",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        448
      ],
      "id": "61d8a75b-40a0-4768-927f-6815159d270e",
      "name": "Get Output (Update)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.manager_doc }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $vars.manager_sheet_input }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.Source }}",
            "Datetime": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
            "Job": "={{ $json.Job }}",
            "Execution": "={{ $json.Execution }}",
            "Title": "={{ $json.Title }}",
            "Created Date": "={{ $json['Created Date (A)'] }}",
            "Last Modified": "={{ $json['Last Modified (A)'] }}",
            "Etag": "={{ $json['Etag (A)'] }}",
            "Hash": "={{ $json['Hash (A)'] }}",
            "Filename": "={{ $json.Filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Datetime",
              "displayName": "Datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution",
              "displayName": "Execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etag",
              "displayName": "Etag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hash",
              "displayName": "Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        448
      ],
      "id": "a89ad4d1-cdc3-42dd-9e26-b50529881e90",
      "name": "Copy Output (Update)",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4138322-19a1-4ad7-a579-5bb83615de2f",
              "leftValue": "={{ $('Set Sub-Workflow').item.json['Sub-Workflow'] }}",
              "rightValue": "Update",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        352
      ],
      "id": "b3ff9978-985e-406a-976d-4a05fd69e364",
      "name": "If Update Sub-Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Output": {
      "main": [
        [
          {
            "node": "Copy Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sub-Workflow": {
      "main": [
        [
          {
            "node": "Clear Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Input": {
      "main": [
        [
          {
            "node": "Clear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Error": {
      "main": [
        [
          {
            "node": "Clear Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Processed": {
      "main": [
        [
          {
            "node": "Search Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sub-Workflow": {
      "main": [
        [
          {
            "node": "If Update Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Output (Update)": {
      "main": [
        [
          {
            "node": "Copy Output (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Update Sub-Workflow": {
      "main": [
        [
          {
            "node": "Get Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Output (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d6fa53c-bd58-488c-bc36-88456dab180b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ced82f3dd62dad32cd39eb1289b45acdf2f6f463c9cc2cacaca667f3bd5cac2"
  },
  "id": "hUqZnN0bcIlzJW26",
  "tags": []
}